<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.okdeer.mall.order.mapper.TradeOrderLogMapper" >
  <resultMap id="BaseResultMap" type="com.okdeer.mall.order.entity.TradeOrderLog" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="operate_user" property="operateUser" jdbcType="VARCHAR" />
    <result column="record_time" property="recordTime" jdbcType="TIMESTAMP" />
    <result column="operate" property="operate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_id, operate_user, record_time, operate
  </sql>
  <sql id="condition" >
    <if test="null!=params" >
      <if test="null!=params.queryCondition and ''!=params.queryCondition" >
        ${params.queryCondition}
      </if>
    </if>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from trade_order_log
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="map" >
    SELECT 
    <include refid="Base_Column_List" />
     FROM trade_order_log WHERE 1=1 
    <include refid="condition" />
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    DELETE FROM trade_order_log
    WHERE id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.okdeer.mall.order.entity.TradeOrderLog" >
    insert into trade_order_log (id, order_id, operate_user, 
      record_time, operate)
    values (#{id,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, #{operateUser,jdbcType=VARCHAR}, 
      #{recordTime,jdbcType=TIMESTAMP}, #{operate,jdbcType=VARCHAR})
  </insert>
  
  <!-- 新增订单日志记录 begin -->
  <insert id="insertSelective" parameterType="com.okdeer.mall.order.entity.TradeOrderLog" >
    insert into trade_order_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="operateUser != null" >
        operate_user,
      </if>
      <if test="recordTime != null" >
        record_time,
      </if>
      <if test="operate != null" >
        operate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="operateUser != null" >
        #{operateUser,jdbcType=VARCHAR},
      </if>
      <if test="recordTime != null" >
        #{recordTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operate != null" >
        #{operate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <!-- 新增订单日志记录 end -->
  
  <update id="updateByPrimaryKeySelective" parameterType="com.okdeer.mall.order.entity.TradeOrderLog" >
    update trade_order_log
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="operateUser != null" >
        operate_user = #{operateUser,jdbcType=VARCHAR},
      </if>
      <if test="recordTime != null" >
        record_time = #{recordTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operate != null" >
        operate = #{operate,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.okdeer.mall.order.entity.TradeOrderLog" >
    update trade_order_log
    set order_id = #{orderId,jdbcType=VARCHAR},
      operate_user = #{operateUser,jdbcType=VARCHAR},
      record_time = #{recordTime,jdbcType=TIMESTAMP},
      operate = #{operate,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>