<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.okdeer.mall.order.mapper.TradePinMoneyObtainMapper" >
    <resultMap id="BaseResultMap" type="com.okdeer.mall.order.entity.TradePinMoneyObtain" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="order_id" property="orderId" jdbcType="VARCHAR" />
        <result column="user_id" property="userId" jdbcType="VARCHAR" />
        <result column="device_id" property="deviceId" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="TINYINT" />
        <result column="amount" property="amount" jdbcType="DECIMAL" />
        <result column="remain_amount" property="remainAmount" jdbcType="DECIMAL" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="valid_time" property="validTime" jdbcType="TIMESTAMP" />
    </resultMap>
    <!-- 后台查询领取记录列表 -->
	<resultMap id="PageListResultMap" type="com.okdeer.mall.order.bo.TradePinMoneyObtainBo" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="userPhone" property="userPhone" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="TINYINT" />
        <result column="amount" property="amount" jdbcType="DECIMAL" />
        <result column="remain_amount" property="remainAmount" jdbcType="DECIMAL" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="valid_time" property="validTime" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, order_id, user_id, device_id, amount, remain_amount, create_time, update_time, 
        valid_time
    </sql>

    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from trade_pin_money_obtain
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <insert id="add" parameterType="com.okdeer.mall.order.entity.TradePinMoneyObtain" >
        insert into trade_pin_money_obtain
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="orderId != null" >
                order_id,
            </if>
            <if test="userId != null" >
                user_id,
            </if>
            <if test="deviceId != null" >
                device_id,
            </if>
            <if test="status != null" >
                status,
            </if>
            <if test="amount != null" >
                amount,
            </if>
            <if test="remainAmount != null" >
                remain_amount,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="updateTime != null" >
                update_time,
            </if>
            <if test="validTime != null" >
                valid_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="orderId != null" >
                #{orderId,jdbcType=VARCHAR},
            </if>
            <if test="userId != null" >
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="deviceId != null" >
                #{deviceId,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                #{status,jdbcType=TINYINT},
            </if>
            <if test="amount != null" >
                #{amount,jdbcType=DECIMAL},
            </if>
            <if test="remainAmount != null" >
                #{remainAmount,jdbcType=DECIMAL},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null" >
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="validTime != null" >
                #{validTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.okdeer.mall.order.entity.TradePinMoneyObtain" >
        update trade_pin_money_obtain
        <set >
            <if test="orderId != null" >
                order_id = #{orderId,jdbcType=VARCHAR},
            </if>
            <if test="userId != null" >
                user_id = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="deviceId != null" >
                device_id = #{deviceId,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="amount != null" >
                amount = #{amount,jdbcType=DECIMAL},
            </if>
            <if test="remainAmount != null" >
                remain_amount = #{remainAmount,jdbcType=DECIMAL},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null" >
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="validTime != null" >
                valid_time = #{validTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <delete id="delete" parameterType="java.lang.String" >
        delete from trade_pin_money_obtain
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    
    <!-- 查询我的可用余额 -->
    <select id="findMyUsableTotal" resultType="java.math.BigDecimal" >
        SELECT sum(remain_amount)
        FROM trade_pin_money_obtain
        WHERE user_id = #{userId,jdbcType=VARCHAR}
        AND valid_time >= #{nowDate,jdbcType=TIMESTAMP}
    </select>
    
    <select id="findList" resultMap="BaseResultMap" >
        SELECT 
        <include refid="Base_Column_List" />
        FROM trade_pin_money_obtain
        WHERE user_id = #{userId,jdbcType=VARCHAR}
        <if test="nowDate != null" >
        	AND valid_time >= #{nowDate,jdbcType=TIMESTAMP}
        </if>
        <if test="status != null" >
            AND status = #{status,jdbcType=TINYINT}
        </if>
    </select>
	<!-- begin 商城后台零花钱领取记录条件查询 xuzq 20170814 -->
    <select id="findObtainPageList" resultMap="PageListResultMap" parameterType="com.okdeer.mall.order.dto.TradePinMoneyQueryDto" >
        SELECT 
        pin.id, buyer.phone userPhone,  pin.status, pin.amount, pin.remain_amount, pin.create_time, pin.valid_time
        FROM trade_pin_money_obtain pin
        LEFT JOIN sys_buyer_user buyer ON buyer.id=pin.user_id
        WHERE 1=1
        <if test="userPhone != null" >
           AND buyer.phone LIKE CONCAT('%', #{userPhone,jdbcType=VARCHAR},'%')
        </if>
         <if test="createTimeStart != null" >
        	AND pin.create_time <![CDATA[ >= ]]> #{createTimeStart,jdbcType=TIMESTAMP}
        </if>
        <if test="createTimeEnd != null" >
        	AND pin.create_time <![CDATA[ <= ]]> #{createTimeEnd,jdbcType=TIMESTAMP}
        </if>
    </select>
	<!-- end 商城后台零花钱领取记录条件查询 xuzq 20170814 -->
	<!-- begin 商城后台零花钱领取记录条件查询记录数 xuzq 20170814 -->
    <select id="findObtainListCount" resultType="java.lang.Integer" parameterType="com.okdeer.mall.order.dto.TradePinMoneyQueryDto" >
        SELECT count(1)
        FROM trade_pin_money_obtain pin
        LEFT JOIN sys_buyer_user buyer ON buyer.id=pin.user_id
        WHERE 1=1
        <if test="userPhone != null" >
            AND buyer.phone LIKE CONCAT('%', #{userPhone,jdbcType=VARCHAR},'%')
        </if>
        <if test="createTimeStart != null" >
        	AND pin.create_time <![CDATA[ >= ]]> #{createTimeStart,jdbcType=TIMESTAMP}
        </if>
        <if test="createTimeEnd != null" >
        	AND pin.create_time <![CDATA[ <= ]]> #{createTimeEnd,jdbcType=TIMESTAMP}
        </if>
    </select>
	<!-- begin 商城后台零花钱领取记录条件查询记录数 xuzq 20170814 -->
</mapper>