<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.okdeer.mall.order.mapper.TradeOrderRefundsCertificateImgMapper" >
  <resultMap id="BaseResultMap" type="com.okdeer.mall.order.entity.TradeOrderRefundsCertificateImg" >
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="certificate_id" property="certificateId" jdbcType="VARCHAR" />
    <result column="image_path" property="imagePath" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Columns">
    id, certificate_id, image_path
  </sql>
 	
 	
  <select id="findByCertificateId" parameterType="java.lang.String"  resultMap="BaseResultMap">
	  SELECT <include refid="Base_Columns" /> FROM trade_order_refunds_certificate_img WHERE certificate_id = #{certificateId,jdbcType=VARCHAR}
  </select>
  
  <insert id="add" parameterType="com.okdeer.mall.order.entity.TradeOrderRefundsCertificateImg" >
    insert into trade_order_refunds_certificate_img
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="certificateId != null" >
        certificate_id,
      </if>
      <if test="imagePath != null" >
        image_path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="certificateId != null" >
        #{certificateId,jdbcType=VARCHAR},
      </if>
      <if test="imagePath != null" >
        #{imagePath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>