<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.okdeer.mall.order.mapper.TradePinMoneyUseMapper" >
    <resultMap id="BaseResultMap" type="com.okdeer.mall.order.entity.TradePinMoneyUse" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="order_id" property="orderId" jdbcType="VARCHAR" />
        <result column="source_id" property="sourceId" jdbcType="VARCHAR" />
        <result column="user_id" property="userId" jdbcType="VARCHAR" />
        <result column="use_amount" property="useAmount" jdbcType="DECIMAL" />
        <result column="order_amount" property="orderAmount" jdbcType="DECIMAL" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>
	<!-- 后台查询领取记录列表 -->
	<resultMap id="PageListResultMap" type="com.okdeer.mall.order.bo.TradePinMoneyUseBo" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="userPhone" property="userPhone" jdbcType="VARCHAR" />
        <result column="use_amount" property="useAmount" jdbcType="DECIMAL" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>
    
    <sql id="Base_Column_List" >
        id, order_id, source_id, user_id, use_amount, create_time
    </sql>

    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from trade_pin_money_use
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <insert id="add" parameterType="com.okdeer.mall.order.entity.TradePinMoneyUse" >
        insert into trade_pin_money_use
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="orderId != null" >
                order_id,
            </if>
            <if test="sourceId != null" >
                source_id,
            </if>
            <if test="userId != null" >
                user_id,
            </if>
            <if test="useAmount != null" >
                use_amount,
            </if>
            <if test="orderAmount != null" >
                order_amount,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="orderId != null" >
                #{orderId,jdbcType=VARCHAR},
            </if>
            <if test="sourceId != null" >
                #{sourceId,jdbcType=VARCHAR},
            </if>
            <if test="userId != null" >
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="useAmount != null" >
                #{useAmount,jdbcType=DECIMAL},
            </if>
            <if test="orderAmount != null" >
                #{orderAmount,jdbcType=DECIMAL},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.okdeer.mall.order.entity.TradePinMoneyUse" >
        update trade_pin_money_use
        <set >
            <if test="orderId != null" >
                order_id = #{orderId,jdbcType=VARCHAR},
            </if>
            <if test="sourceId != null" >
                source_id = #{sourceId,jdbcType=VARCHAR},
            </if>
            <if test="userId != null" >
                user_id = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="useAmount != null" >
                use_amount = #{useAmount,jdbcType=DECIMAL},
            </if>
            <if test="orderAmount != null" >
                order_amount = #{orderAmount,jdbcType=DECIMAL},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <delete id="delete" parameterType="java.lang.String" >
        delete from trade_pin_money_use
        where id = #{id,jdbcType=VARCHAR}
    </delete>
	<!-- begin 商城后台零花钱领取记录条件查询 xuzq 20170814 -->
    <select id="fingUsePageList" resultMap="PageListResultMap" parameterType="com.okdeer.mall.order.dto.TradePinMoneyQueryDto" >
        SELECT 
        pin.id, buyer.phone userPhone, pin.use_amount, pin.create_time
        FROM trade_pin_money_use pin
        LEFT JOIN sys_buyer_user buyer ON buyer.id=pin.user_id
        WHERE 1=1
        <if test="userPhone != null" >
           AND buyer.phone LIKE CONCAT('%', #{userPhone,jdbcType=VARCHAR},'%')
        </if>
        <if test="createTimeStart != null" >
        	AND pin.create_time <![CDATA[ >= ]]> #{createTimeStart,jdbcType=TIMESTAMP}
        </if>
        <if test="createTimeEnd != null" >
        	AND pin.create_time <![CDATA[ <= ]]> #{createTimeEnd,jdbcType=TIMESTAMP}
        </if>
    </select>
	<!-- end 商城后台零花钱领取记录条件查询 xuzq 20170814 -->
	<!-- begin 商城后台零花钱领取记录条件查询记录数 xuzq 20170814 -->
    <select id="findUseListCount" resultType="java.lang.Integer" parameterType="com.okdeer.mall.order.dto.TradePinMoneyQueryDto" >
        SELECT count(1)
        FROM trade_pin_money_use pin
        LEFT JOIN sys_buyer_user buyer ON buyer.id=pin.user_id
        WHERE 1=1
        <if test="userPhone != null" >
           AND buyer.phone LIKE CONCAT('%', #{userPhone,jdbcType=VARCHAR},'%')
        </if>
        <if test="createTimeStart != null" >
        	AND pin.create_time <![CDATA[ >= ]]> #{createTimeStart,jdbcType=TIMESTAMP}
        </if>
        <if test="createTimeEnd != null" >
        	AND pin.create_time <![CDATA[ <= ]]> #{createTimeEnd,jdbcType=TIMESTAMP}
        </if>
    </select>
	<!-- begin 商城后台零花钱领取记录条件查询记录数 xuzq 20170814 -->
</mapper>