<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.okdeer.mall.operate.mapper.ColumnAppRecommendMapper">
	<resultMap id="BaseResultMap"
		type="com.okdeer.mall.operate.entity.ColumnAppRecommend">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="place" property="place" javaType="com.okdeer.mall.operate.enums.AppRecommendPlace" jdbcType="TINYINT" />
		<result column="cover_pic_url" property="coverPicUrl" jdbcType="VARCHAR" />
		<result column="cover_skip_url" property="coverSkipUrl" jdbcType="VARCHAR" />
		<result column="goods_count" property="goodsCount" jdbcType="INTEGER" />
		<result column="show_goods_count" property="showGoodsCount" jdbcType="INTEGER" />
		<result column="sort" property="sort" jdbcType="INTEGER" />
		<result column="status" property="status" javaType="com.okdeer.mall.operate.enums.AppRecommendStatus" jdbcType="TINYINT" />
		<result column="area_type" property="areaType" javaType="com.okdeer.mall.operate.enums.SelectAreaType" jdbcType="TINYINT" />
		<result column="create_user_id" property="createUserId" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_user_id" property="updateUserId" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="disabled" property="disabled" jdbcType="TINYINT" />
	</resultMap>

	<sql id="Base_Column_List">
		id, title, place, cover_pic_url, cover_skip_url, goods_count,
		show_goods_count, sort, status, area_type, create_user_id, 
		create_time, update_user_id, update_time, disabled
	</sql>

	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from column_app_recommend
		where id = #{id,jdbcType=VARCHAR} AND disabled = 0
	</select>

	<select id="findList" resultMap="BaseResultMap" parameterType="com.okdeer.mall.operate.dto.AppRecommendParamDto">
		SELECT
		<include refid="Base_Column_List" />
		FROM column_app_recommend
		WHERE disabled = 0
		<if test="excludeId != null and excludeId != ''">
			AND id != #{excludeId}
		</if>
		<if test="title != null and title != ''">
			AND title LIKE CONCAT('%',#{title},'%')
		</if>
		<if test="null != place">
			AND place = #{place}
		</if>
		<if test="null != areaType">
			AND area_type = #{areaType}
		</if>
		<if test="null != addStartTime">
			AND create_time &gt;= #{addStartTime}
		</if>
		<if test="null != addEndTime">
			AND create_time &lt;= #{addEndTime}
		</if>
		<if test="null != updateStartTime">
			AND update_time &gt;= #{updateStartTime}
		</if>
		<if test="null != updateEndTime">
			AND update_time &lt;= #{updateEndTime}
		</if>
		<if test="null != status">
			AND status = #{status}
		</if>
		<choose>  
            <when test="isContainNationwide == true and ids != null and ids.size() > 0">  
               AND (
               		area_type = 0  
               		OR id IN
					<foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
						#{item}
					</foreach>
               )
            </when>
             <when test="isContainNationwide == true">  
               AND area_type = 0
            </when>   
            <otherwise>  
               <if test="ids != null and ids.size() > 0">
					AND id IN
					<foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
						#{item}
					</foreach>
				</if>
            </otherwise>  
        </choose>  
		
		<choose>  
            <when test="sortType == 1">  
               ORDER BY sort , update_time DESC
            </when>  
            <otherwise>  
                ORDER BY status , update_time DESC
            </otherwise>  
        </choose>  
	</select>

	<insert id="add" parameterType="com.okdeer.mall.operate.entity.ColumnAppRecommend">
		insert into column_app_recommend
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="title != null">
				title,
			</if>
			<if test="place != null">
				place,
			</if>
			<if test="coverPicUrl != null">
				cover_pic_url,
			</if>
			<if test="coverSkipUrl != null">
				cover_skip_url,
			</if>
			<if test="goodsCount != null">
				goods_count,
			</if>
			<if test="showGoodsCount != null">
				show_goods_count,
			</if>
			<if test="sort != null">
				sort,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="areaType != null">
				area_type,
			</if>
			<if test="createUserId != null">
				create_user_id,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateUserId != null">
				update_user_id,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="disabled != null">
				disabled,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="place != null">
				#{place,jdbcType=TINYINT},
			</if>
			<if test="coverPicUrl != null">
				#{coverPicUrl,jdbcType=VARCHAR},
			</if>
			<if test="coverSkipUrl != null">
				#{coverSkipUrl,jdbcType=VARCHAR},
			</if>
			<if test="goodsCount != null">
				#{goodsCount,jdbcType=INTEGER},
			</if>
			<if test="showGoodsCount != null">
				#{showGoodsCount,jdbcType=INTEGER},
			</if>
			<if test="sort != null">
				#{sort,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				#{status,jdbcType=TINYINT},
			</if>
			<if test="areaType != null">
				#{areaType,jdbcType=TINYINT},
			</if>
			<if test="createUserId != null">
				#{createUserId,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateUserId != null">
				#{updateUserId,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="disabled != null">
				#{disabled,jdbcType=TINYINT},
			</if>
		</trim>
	</insert>

	<update id="update" parameterType="com.okdeer.mall.operate.entity.ColumnAppRecommend">
		update column_app_recommend
		<set>
			<if test="title != null">
				title = #{title,jdbcType=VARCHAR},
			</if>
			<if test="place != null">
				place = #{place,jdbcType=TINYINT},
			</if>
			<if test="coverPicUrl != null">
				cover_pic_url = #{coverPicUrl,jdbcType=VARCHAR},
			</if>
			<if test="coverSkipUrl != null">
				cover_skip_url = #{coverSkipUrl,jdbcType=VARCHAR},
			</if>
			<if test="goodsCount != null">
				goods_count = #{goodsCount,jdbcType=INTEGER},
			</if>
			<if test="showGoodsCount != null">
				show_goods_count = #{showGoodsCount,jdbcType=INTEGER},
			</if>
			<if test="sort != null">
				sort = #{sort,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=TINYINT},
			</if>
			<if test="areaType != null">
				area_type = #{areaType,jdbcType=TINYINT},
			</if>
			<if test="createUserId != null">
				create_user_id = #{createUserId,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateUserId != null">
				update_user_id = #{updateUserId,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="disabled != null">
				disabled = #{disabled,jdbcType=TINYINT},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>

	<delete id="delete" parameterType="java.lang.String">
		delete from column_app_recommend
		where id = #{id,jdbcType=VARCHAR}
	</delete>

	<update id="deleteByIds" parameterType="java.lang.String">
		UPDATE column_app_recommend
		SET disabled = 1
		WHERE id IN
		<foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</update>

</mapper>