<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.okdeer.mall.operate.mapper.ColumnHomeIconMapper" >
    <resultMap id="BaseResultMap" type="com.okdeer.mall.operate.entity.ColumnHomeIcon" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="place" property="place" javaType="com.okdeer.mall.operate.enums.HomeIconPlace" jdbcType="TINYINT" />
        <result column="icon_url" property="iconUrl" jdbcType="VARCHAR" />
        <result column="banner_url" property="bannerUrl" jdbcType="VARCHAR" />
        <result column="task_content" property="taskContent" jdbcType="VARCHAR" />
        <result column="task_type" property="taskType" javaType="com.okdeer.mall.operate.enums.HomeIconTaskType" jdbcType="TINYINT" />
        <result column="task_scope" property="taskScope" javaType="com.okdeer.mall.operate.enums.SelectAreaType" jdbcType="TINYINT" />
        <result column="create_user_id" property="createUserId" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="disabled" property="disabled" jdbcType="TINYINT" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, name, place, icon_url, banner_url, task_content, task_type, task_scope, create_user_id, 
        create_time, update_user_id, update_time, disabled
    </sql>

    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from column_home_icon
        where id = #{id,jdbcType=VARCHAR} AND disabled = 0
    </select>
    
    <select id="findList" resultMap="BaseResultMap" parameterType="com.okdeer.mall.operate.dto.HomeIconParamDto">
        SELECT 
        <include refid="Base_Column_List" />
        FROM column_home_icon
        WHERE disabled = 0
        <if test="excludeId != null and excludeId != ''">
			AND id != #{excludeId}
		</if>
        <if test="name != null and name != ''">
			AND name LIKE CONCAT('%',#{name},'%')
		</if>
		<if test="null != taskType">
			AND task_type = #{taskType}
		</if>
		<if test="null != place">
			AND place = #{place}
		</if>
		<if test="null != addStartTime">
			AND create_time &gt;= #{addStartTime}
		</if>
		<if test="null != addEndTime">
			AND create_time &lt;= #{addEndTime}
		</if>
		<if test="null != updateStartTime">
			AND update_time &gt;= #{updateStartTime}
		</if>
		<if test="null != updateEndTime">
			AND update_time &lt;= #{updateEndTime}
		</if>
		<if test="ids != null and ids.size() > 0">
			id IN
			<foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		ORDER BY update_time, create_time DESC
    </select>

    <insert id="add" parameterType="com.okdeer.mall.operate.entity.ColumnHomeIcon" >
        insert into column_home_icon
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="name != null" >
                name,
            </if>
            <if test="place != null" >
                place,
            </if>
            <if test="iconUrl != null" >
                icon_url,
            </if>
            <if test="bannerUrl != null" >
                banner_url,
            </if>
            <if test="taskContent != null" >
                task_content,
            </if>
            <if test="taskType != null" >
                task_type,
            </if>
            <if test="taskScope != null" >
                task_scope,
            </if>
            <if test="createUserId != null" >
                create_user_id,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="updateUserId != null" >
                update_user_id,
            </if>
            <if test="updateTime != null" >
                update_time,
            </if>
            <if test="disabled != null" >
                disabled,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="place != null" >
                #{place,jdbcType=TINYINT},
            </if>
            <if test="iconUrl != null" >
                #{iconUrl,jdbcType=VARCHAR},
            </if>
            <if test="bannerUrl != null" >
                #{bannerUrl,jdbcType=VARCHAR},
            </if>
            <if test="taskContent != null" >
                #{taskContent,jdbcType=VARCHAR},
            </if>
            <if test="taskType != null" >
                #{taskType,jdbcType=TINYINT},
            </if>
            <if test="taskScope != null" >
                #{taskScope,jdbcType=TINYINT},
            </if>
            <if test="createUserId != null" >
                #{createUserId,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserId != null" >
                #{updateUserId,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null" >
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="disabled != null" >
                #{disabled,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.okdeer.mall.operate.entity.ColumnHomeIcon" >
        update column_home_icon
        <set >
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="place != null" >
                place = #{place,jdbcType=TINYINT},
            </if>
            <if test="iconUrl != null" >
                icon_url = #{iconUrl,jdbcType=VARCHAR},
            </if>
            <if test="bannerUrl != null" >
                banner_url = #{bannerUrl,jdbcType=VARCHAR},
            </if>
            <if test="taskContent != null" >
                task_content = #{taskContent,jdbcType=VARCHAR},
            </if>
            <if test="taskType != null" >
                task_type = #{taskType,jdbcType=TINYINT},
            </if>
            <if test="taskScope != null" >
                task_scope = #{taskScope,jdbcType=TINYINT},
            </if>
            <if test="createUserId != null" >
                create_user_id = #{createUserId,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserId != null" >
                update_user_id = #{updateUserId,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null" >
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="disabled != null" >
                disabled = #{disabled,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <delete id="delete" parameterType="java.lang.String" >
        delete from column_home_icon
        where id = #{id,jdbcType=VARCHAR}
    </delete>

</mapper>