<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.okdeer.mall.operate.mapper.ColumnAppRecommendGoodsMapper">
	<resultMap id="BaseResultMap" type="com.okdeer.mall.operate.entity.ColumnAppRecommendGoods">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="recommend_id" property="recommendId" jdbcType="VARCHAR" />
		<result column="store_sku_id" property="storeSkuId" jdbcType="VARCHAR" />
		<result column="sort" property="sort" jdbcType="INTEGER" />
		<result column="is_show" property="isShow" jdbcType="TINYINT" />
	</resultMap>

	<sql id="Base_Column_List">
		id, recommend_id, store_sku_id, sort, is_show
	</sql>

	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from column_app_recommend_goods
		where id = #{id,jdbcType=VARCHAR}
	</select>

	<select id="findList" resultMap="BaseResultMap" parameterType="com.okdeer.mall.operate.dto.AppRecommendGoodsParamDto">
		select
		<include refid="Base_Column_List" />
		from column_app_recommend_goods
		<where>
			<if test="recommendId != null">
				AND recommend_id = #{recommendId}
			</if>
			<if test="isShow != null">
				AND is_show = #{isShow}
			</if>
			<if test="recommendIds != null and recommendIds.size() > 0">
				AND recommend_id IN
				<foreach collection="recommendIds" index="index" item="item" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
		</where>
		ORDER BY sort desc
	</select>

	<select id="findListByRecommendId" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from column_app_recommend_goods
		where recommend_id = #{recommendId}
		ORDER BY sort desc
	</select>
	
	<select id="findShowListByStoreSkuIds" resultMap="BaseResultMap" parameterType="java.util.List">
		SELECT
			goods.id, goods.recommend_id, goods.store_sku_id, goods.sort, goods.is_show
		FROM  column_app_recommend_goods goods 
		INNER JOIN column_app_recommend recommend ON recommend.id = goods.recommend_id
		WHERE recommend. STATUS = 0
		  AND recommend.disabled = 0
		  AND goods.is_show = 1
		  <if test="storeSkuIds != null and storeSkuIds.size() > 0">
			AND goods.store_sku_id IN
			<foreach collection="storeSkuIds" index="index" item="item" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
	</select>

	<insert id="add" parameterType="com.okdeer.mall.operate.entity.ColumnAppRecommendGoods">
		insert into column_app_recommend_goods
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="recommendId != null">
				recommend_id,
			</if>
			<if test="storeSkuId != null">
				store_sku_id,
			</if>
			<if test="sort != null">
				sort,
			</if>
			<if test="isShow != null">
				is_show,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="recommendId != null">
				#{recommendId,jdbcType=VARCHAR},
			</if>
			<if test="storeSkuId != null">
				#{storeSkuId,jdbcType=VARCHAR},
			</if>
			<if test="sort != null">
				#{sort,jdbcType=INTEGER},
			</if>
			<if test="isShow != null">
				#{isShow,jdbcType=TINYINT},
			</if>
		</trim>
	</insert>

	<insert id="insertMore" parameterType="java.util.List">
		INSERT INTO column_app_recommend_goods (
			id, recommend_id, store_sku_id, sort, is_show
		) VALUES
		<foreach collection="list" index="index" item="item" separator=",">
			(
			#{item.id}, #{item.recommendId}, #{item.storeSkuId},
			#{item.sort}, #{item.isShow}
			)
		</foreach>
	</insert>

	<update id="update" parameterType="com.okdeer.mall.operate.entity.ColumnAppRecommendGoods">
		update column_app_recommend_goods
		<set>
			<if test="recommendId != null">
				recommend_id = #{recommendId,jdbcType=VARCHAR},
			</if>
			<if test="storeSkuId != null">
				store_sku_id = #{storeSkuId,jdbcType=VARCHAR},
			</if>
			<if test="sort != null">
				sort = #{sort,jdbcType=INTEGER},
			</if>
			<if test="isShow != null">
				is_show = #{isShow,jdbcType=TINYINT},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>

	<delete id="delete" parameterType="java.lang.String">
		delete from
		column_app_recommend_goods
		where id = #{id,jdbcType=VARCHAR}
	</delete>

	<delete id="deleteByRecommendId" parameterType="java.lang.String">
		delete from
		column_app_recommend_goods
		where recommend_id = #{recommendId}
	</delete>

    <select id="listGoods" parameterType="com.okdeer.mall.operate.dto.ServerGoodsChoolseDto" resultType="com.okdeer.mall.operate.dto.ServerGoodsChoolseDto">
		select 
			s.id,
			s.name,
			si.store_name as storeName,
			s.online_price as onlinePrice,
			pic.url as url,
			cate.`name` as categoryName,
			service.product_no as productNo,
			stock.sellable
			from goods_store_sku s 
			left join store_info si on (s.store_id = si.id) 
			left join goods_store_sku_picture pic on (pic.store_sku_id = s.id and pic.type = 1)
			left join goods_store_spu spu on (s.store_spu_id = spu.id)
			left join goods_spu_category cate on (spu.spu_category_id = cate.id)
			left join goods_store_sku_service service on (s.id = service.store_sku_id) 
			left join goods_store_sku_stock stock on (stock.store_sku_id = s.id)
			where s.disabled = 0 
			and s.type in (3,4) 
			<if test="goodsName != null and goodsName != ''">
				and s.name like concat('%',#{goodsName},'%' )
			</if>
			<if test="storeName != null and storeName != ''">
				and si.store_name like concat('%',#{storeName},'%' )
			</if>
			<if test="productNo != null and productNo != ''">
				and service.product_no like concat('%',#{productNo},'%' )
			</if>
			<if test="goodsIdList != null">
				and s.id in
				<foreach item="item" index="index" collection="goodsIdList" open="(" separator="," close=")">  
	  				#{item}  
	 			</foreach>  
 			</if>
		order by s.update_time desc 
	</select>
</mapper>