<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.okdeer.mall.system.mapper.QuestionAnswerHelpMapper">

	<resultMap type="com.okdeer.mall.system.dto.QuestionAnswerHelpDto" id="QuestionAnswerHelp" >
		<result property="id" column="id" jdbcType="VARCHAR" />
		<result property="name" column="name" jdbcType="VARCHAR" />
		<result property="answer" column="answer" />
		<result column="disabled" property="disabled" javaType="com.okdeer.base.common.enums.Disabled" jdbcType="TINYINT"/>
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	</resultMap>

    <sql id="columns">
		id,name,answer,create_time,update_time,disabled
	</sql>

	<select id="selectList" parameterType="com.okdeer.mall.system.dto.QuestionAnswerHelpDto" 
							resultMap="QuestionAnswerHelp">
		select <include refid="columns"/> from question_answer_help
		where 1 = 1
		<if test="disabled != null">
			AND disabled = 0
		</if>
		ORDER BY 
			   create_time desc
	</select>
	   
    <select id="selectById" parameterType="string" resultMap="QuestionAnswerHelp">
    	select <include refid="columns"/> from question_answer_help where id = #{id,jdbcType=VARCHAR}
    </select>
    
</mapper>
