<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.okdeer.mall.system.mapper.SysOrganStoreMapper" >
    <resultMap id="BaseResultMap" type="com.okdeer.mall.system.entity.SysOrganStore" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="org_id" property="orgId" jdbcType="VARCHAR" />
        <result column="store_id" property="storeId" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, org_id, store_id
    </sql>

    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from sys_organ_store
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <insert id="add" parameterType="com.okdeer.mall.system.entity.SysOrganStore" >
        insert into sys_organ_store
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="orgId != null" >
                org_id,
            </if>
            <if test="storeId != null" >
                store_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="orgId != null" >
                #{orgId,jdbcType=VARCHAR},
            </if>
            <if test="storeId != null" >
                #{storeId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    
    <insert id="batchAdd" parameterType="java.util.List" >
        insert into sys_organ_store (id,org_id,store_id)
        VALUES
        <foreach collection="list"  index="index" item="entry" separator=",">
            <trim prefix="(" suffix=")">
                #{entry.id,jdbcType=VARCHAR},
                 #{entry.orgId,jdbcType=VARCHAR},
                 #{entry.storeId,jdbcType=VARCHAR}
            </trim>
        </foreach>
    </insert>

    <update id="update" parameterType="com.okdeer.mall.system.entity.SysOrganStore" >
        update sys_organ_store
        <set >
            <if test="orgId != null" >
                org_id = #{orgId,jdbcType=VARCHAR},
            </if>
            <if test="storeId != null" >
                store_id = #{storeId,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <delete id="delete" parameterType="java.lang.String" >
        delete from sys_organ_store
        where id = #{id,jdbcType=VARCHAR}
    </delete>
	
	<!-- 根据组织id查询关联列表 -->
	<select id="findByOrgId" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from sys_organ_store
        where org_id = #{orgId,jdbcType=VARCHAR}
    </select>
</mapper>