<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.okdeer.mall.system.mapper.SysRandCodeRecordMapper">
	<resultMap id="randCodeBaseMap" type="com.okdeer.mall.system.entity.SysRandCodeRecord">
		<id column="id" property="id" jdbcType="VARCHAR"/>
		<result column="random_code" property="randomCode" jdbcType="VARCHAR"/>
		<result column="code_type" property="codeType" jdbcType="INTEGER"/>
		<result column="disabled" property="disabled" javaType="com.okdeer.base.common.enums.Disabled" jdbcType="TINYINT"/>
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
	</resultMap>

	<!-- 基本字段 -->
	<sql id="base_column">
		id, random_code, code_type, disabled, create_time, update_time
	</sql>
	
	<insert id="saveSysRandCodeRecord" parameterType="com.okdeer.mall.system.entity.SysRandCodeRecord">
		INSERT INTO sys_rand_code_record
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="randomCode != null">
				random_code, 
			</if>			
			<if test="codeType != null">
				code_type, 
			</if>			
			<if test="disabled != null">
				disabled, 
			</if>			
			<if test="createTime != null">
				create_time, 
			</if>			
			<if test="updateTime != null">
				update_time
			</if>			
		</trim>
		VALUES
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id, jdbcType=VARCHAR}, 
			</if>
			<if test="randomCode != null">
				#{randomCode, jdbcType=VARCHAR}, 
			</if>			
			<if test="codeType != null">
				#{codeType, jdbcType=INTEGER}, 
			</if>			
			<if test="disabled != null">
				#{disabled, jdbcType=TINYINT}, 
			</if>			
			<if test="createTime != null">
				#{createTime, jdbcType=TIMESTAMP}, 
			</if>			
			<if test="updateTime != null">
				#{updateTime, jdbcType=TIMESTAMP}
			</if>				
		</trim>
	</insert>

	<update id="updateSysRandCodeRecord" parameterType="com.okdeer.mall.system.entity.SysRandCodeRecord">
		UPDATE sys_rand_code_record
		<set>
			<if test="id != null">
				id = #{id, jdbcType=VARCHAR}, 
			</if>
			<if test="randomCode != null">
				random_code = #{randomCode, jdbcType=VARCHAR}, 
			</if>			
			<if test="codeType != null">
				code_type = #{codeType, jdbcType=INTEGER}, 
			</if>			
			<if test="disabled != null">
				disabled = #{disabled, jdbcType=TINYINT}, 
			</if>			
			<if test="createTime != null">
				create_time = #{createTime, jdbcType=TIMESTAMP}, 
			</if>			
			<if test="updateTime != null">
				update_time = #{updateTime, jdbcType=TIMESTAMP}
			</if>
		</set>
		WHERE id = #{id, jdbcType=VARCHAR}
	</update>
	
	<select id="findRecordByRandCode" parameterType="string" resultMap="randCodeBaseMap">
		SELECT <include refid="base_column" />
		FROM sys_rand_code_record
		WHERE 1=1
		<if test="randomCode != null">
			AND random_code = #{randomCode, jdbcType=VARCHAR}
		</if>	
	</select>
	
	<select id="getOneRandCode" resultMap="randCodeBaseMap">
		select <include refid="base_column" /> 
		from sys_rand_code_record  
		where disabled=0 limit 1
	</select>
	
	<select id="findValidRandCodeList" resultType="string">
		select random_code
		from sys_rand_code_record  
		where disabled = 0 
	</select>
	
</mapper>