<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.okdeer.mall.system.mapper.SysUserInvitationRecordMapper" >
  <resultMap id="BaseResultMap" type="com.okdeer.mall.system.entity.SysUserInvitationRecord" >
    <id column="id" property="id" javaType="string" jdbcType="VARCHAR" />
    <result column="invitation_code_id" property="invitationCodeId" javaType="string" jdbcType="VARCHAR" />
    <result column="sys_buyer_user_id" property="sysBuyerUserId" javaType="string" jdbcType="VARCHAR" />
    <result column="is_first_order" property="isFirstOrder" javaType="com.okdeer.base.common.enums.WhetherEnum" jdbcType="TINYINT"/>
    <result column="machine_code" property="machineCode" javaType="string" jdbcType="VARCHAR" />
    <result column="first_order_time" property="firstOrderTime" javaType="date" jdbcType="TIMESTAMP" />  	  
   	<result column="create_time" property="createTime" javaType="date" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" javaType="date" jdbcType="TIMESTAMP" />
  </resultMap>
  
  
  <resultMap type="com.okdeer.mall.system.entity.SysUserInvitationRecordVo" id="extResultMap" extends="BaseResultMap">
    <result column="login_name" property="loginName" jdbcType="VARCHAR" />
    <result column="begin_time" property="beginTimeRecord" javaType="date" jdbcType="TIMESTAMP" />
	<result column="end_time" property="endTimeRecord" javaType="date" jdbcType="TIMESTAMP" />
	<result column="invitation_user_num" property="invitationUserNum" javaType="integer" jdbcType="INTEGER" />
   	<result column="first_order_user_num" property="firstOrderUserNum" javaType="integer" jdbcType="INTEGER" />
   	<result column="phone" property="phone" javaType="string" jdbcType="VARCHAR"/>
  </resultMap>
  
<!-- 邀请码表名 start -->
	<sql id="tableBaseName">sys_user_invitation_record</sql>
	<!-- 邀请码表名 end -->

	<!-- 邀请码表名 start -->
	<sql id="tableName">sys_user_invitation_record suir</sql>
	<!-- 邀请码表名 end -->

	<!-- 系统用户表名 start -->
	<sql id="sysBuyerUser">sys_buyer_user buser</sql>
	<!-- 系统用户表名 end -->

	<!-- 基本的返回字段 start -->
	<sql id="resultBaseColumn">
		suir.id, suir.invitation_code_id, suir.sys_buyer_user_id, suir.is_first_order,
		suir.first_order_time, suir.machine_code, suir.create_time,suir.update_time
	</sql>
	<!-- 基本的返回字段 end -->

	<!-- 扩展字段 start -->
	<sql id="extResultBaseColumn">
		buser.login_name,
	</sql>
	<!-- 扩展字段 end -->

	<!-- 根据条件查询信息 start -->
	<sql id="condition">
		<if test="null != sysBuyerUserId and '' != sysBuyerUserId">
			AND suir.sys_buyer_user_id = #{sysBuyerUserId}
		</if>
		<if test="null != isFirstOrder">
			AND suir.is_first_order = #{isFirstOrder}
		</if>
		<if test="null != beginTimeRecord">
			<![CDATA[  and suir.create_time >= #{beginTimeRecord} ]]>
		</if>
		<if test="null != endTimeRecord">
			<![CDATA[  and suir.create_time <= #{endTimeRecord} ]]>
		</if>
	</sql>
	<!-- 根据条件查询信息 start -->

	<!-- 根据id获取信息 start -->
	<select id="findById" resultMap="BaseResultMap">
		select
		<include refid="resultBaseColumn" />
		from
		<include refid="tableName" />
		where suir.id=#{id,jdbcType=VARCHAR}
	</select>
	<!-- 根据id获取信息 end -->

	<!-- 根据参数获取信息 start -->
	<select id="findByQueryRecordVo" resultMap="extResultMap" parameterType="com.okdeer.mall.system.entity.SysUserInvitationRecordVo">
		select
		buser.login_name as login_name, code.invitation_user_num, code.first_order_user_num,
		<include refid="resultBaseColumn" />
		from sys_user_invitation_code code
		left join
		<include refid="tableName" />
		ON code.id = suir.invitation_code_id
		left join
		<include refid="sysBuyerUser" />
		ON suir.sys_buyer_user_id = buser.id
		where suir.invitation_code_id = #{invitationCodeId}
		<if test="idsRecord != null">
			AND suir.id  in 
		    <foreach collection="idsRecord" index="index" item="item" open="(" separator="," close=")">  
	            #{item}   
	        </foreach>
		</if>
		<if test="idsRecord == null">
			<include refid="condition" />
		</if>
		order by suir.create_time desc
	</select>
	<!-- 根据参数获取信息 end -->

	<!-- 保存信息 start -->
	<insert id="saveCodeRecord"
		parameterType="com.okdeer.mall.system.entity.SysUserInvitationRecord">
		insert into
		<include refid="tableBaseName" />
		(id,invitation_code_id,sys_buyer_user_id,is_first_order,first_order_time,machine_code,create_time,update_time)
		values
		<trim>
			(
			#{id,jdbcType=VARCHAR},
			#{invitationCodeId,jdbcType=VARCHAR},
			#{sysBuyerUserId,jdbcType=VARCHAR},
			#{isFirstOrder,jdbcType=TINYINT},
			#{firstOrderTime,jdbcType=TIMESTAMP},
			#{machineCode,jdbcType=VARCHAR},
			#{createTime,jdbcType=TIMESTAMP},
			#{updateTime,jdbcType=TIMESTAMP}
			)
		</trim>
	</insert>
	<!-- 保存信息 end -->

	<!-- Modified by maojj 2016-10-10 更新首单时间。 -->
	<!-- 更改信息 start -->
	<update id="updateCodeRecord"
		parameterType="com.okdeer.mall.system.entity.SysUserInvitationRecord">
		UPDATE <include refid="tableBaseName" />
		SET	is_first_order= 1,
			first_order_time=#{firstOrderTime,jdbcType=TIMESTAMP},
			update_time=#{updateTime,jdbcType=TIMESTAMP}
		WHERE is_first_order = 0
		AND id=#{id,jdbcType=VARCHAR}
	</update>
	<!-- 更改信息 end -->
  	
  	<!-- Begin 用户填写推荐人邀请码  added by zhaoqc -->
  	<select id="findInvitationRecordByUserId" resultMap="BaseResultMap">
  		select suir.id, suir.invitation_code_id, suir.sys_buyer_user_id, suir.is_first_order,
			suir.first_order_time, suir.machine_code, suir.create_time,suir.update_time
  		from sys_user_invitation_record suir
  		where suir.sys_buyer_user_id = #{buyerUserId, jdbcType=VARCHAR}
  	</select>
  	<!-- End added by zhaoqc -->
  	
  	<!-- begin by yangq 根据用户ID查询邀请人首单列表 -->
  	<select id="selectInvitationFirstOrderById" resultMap="extResultMap">
  	    select suir.id, suir.invitation_code_id, suir.sys_buyer_user_id, suir.is_first_order,
			suir.first_order_time, suir.machine_code, suir.create_time,suir.update_time,buyer.phone
  		FROM sys_user_invitation_record suir,sys_buyer_user buyer
  		WHERE suir.invitation_code_id = #{invitationCodeId, jdbcType=VARCHAR} AND suir.sys_buyer_user_id=buyer.id AND is_first_order = 1
  	</select>
  	<!-- end -->
  	
</mapper>