<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.okdeer.mall.operate.column.mapper.ColumnOperationAreaMapper" >
  <resultMap id="BaseResultMap" type="com.okdeer.mall.operate.entity.ColumnOperationArea" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="operation_id" property="operationId" jdbcType="VARCHAR" />
    <result column="area_id" property="areaId" jdbcType="VARCHAR" />
    <result column="type" property="type" javaType="com.okdeer.mall.common.enums.DistrictType" jdbcType="TINYINT"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, operation_id, area_id,type
  </sql>
  <sql id="condition" >
    <if test="null!=params" >
      <if test="null!=params.queryCondition and ''!=params.queryCondition" >
        ${params.queryCondition}
      </if>
    </if>
  </sql>
  
  <!-- 根据主键id，查询运营栏目和区域关联信息 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    SELECT 
    <include refid="Base_Column_List" />
    FROM column_operation_area
    WHERE id = #{id,jdbcType=VARCHAR}
  </select>
  
  <!-- 根据条件，查询运营栏目和区域关联信息列表（参数类型map） -->
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="map" >
    SELECT 
    <include refid="Base_Column_List" />
     FROM column_operation_area WHERE 1=1 
    <include refid="condition" />
  </select>
  
  <!-- 根据主键id，删除运营栏目和区域关联信息 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    DELETE FROM column_operation_area
    WHERE id = #{id,jdbcType=VARCHAR}
  </delete>
  
  <!-- 插入运营栏目和区域关联信息 -->
  <insert id="insert" parameterType="com.okdeer.mall.operate.entity.ColumnOperationArea" >
    INSERT INTO column_operation_area (id, operation_id, area_id,type)
    VALUES (#{id,jdbcType=VARCHAR}, #{operationId,jdbcType=VARCHAR}, #{areaId,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT})
  </insert>
  
  <!-- 判断是否为空，插入运营栏目和区域关联信息 -->
  <insert id="insertSelective" parameterType="com.okdeer.mall.operate.entity.ColumnOperationArea" >
    INSERT INTO column_operation_area
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null and id != ''" >
        id,
      </if>
      <if test="operationId != null and operationId != ''" >
        operation_id,
      </if>
      <if test="areaId != null and areaId != ''" >
        area_id,
      </if>
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null and id != ''" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="operationId != null and operationId != ''" >
        #{operationId,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null and areaId != ''" >
        #{areaId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  
  <!-- 根据主键id，修改运营栏目和区域关联信息 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.okdeer.mall.operate.entity.ColumnOperationArea" >
    UPDATE column_operation_area
    <set >
      <if test="operationId != null and operationId != ''" >
        operation_id = #{operationId,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null and areaId != ''" >
        area_id = #{areaId,jdbcType=VARCHAR},
      </if>
       <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
    </set>
    WHERE id = #{id,jdbcType=VARCHAR}
  </update>
  
  <!-- 根据主键id，修改运营栏目和区域关联信息 -->
  <update id="updateByPrimaryKey" parameterType="com.okdeer.mall.operate.entity.ColumnOperationArea" >
    UPDATE column_operation_area
    SET operation_id = #{operationId,jdbcType=VARCHAR},
      area_id = #{areaId,jdbcType=VARCHAR},
      type = #{type,jdbcType=TINYINT}
    WHERE id = #{id,jdbcType=VARCHAR}
  </update>
  
  <!-- 批量新增运营栏目和区域关联信息 -->
  <insert id="insertAreaBatch" parameterType="java.util.List">
		INSERT INTO column_operation_area (id, operation_id, area_id,type)
		VALUES
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.id,jdbcType=VARCHAR}, #{item.operationId,jdbcType=VARCHAR}, 
			#{item.areaId,jdbcType=VARCHAR}, #{item.type,jdbcType=TINYINT})
		</foreach>
  </insert>
  
  <!-- 根据运营栏目id，删除运营栏目与区域关联信息（物理删除） -->
  <delete id="deleteByOperationId">
	 DELETE FROM column_operation_area 
	 WHERE 
	 <if test="operationId != null ">
		 operation_id  = #{operationId,jdbcType=VARCHAR}		
     </if>
     <if test="operationId == null ">
      1 = 2
     </if>  
  </delete>
</mapper>