<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.okdeer.mall.activity.discount.mapper.ActivityDiscountGroupMapper" >
    <resultMap id="BaseResultMap" type="com.okdeer.mall.activity.discount.entity.ActivityDiscountGroup" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="discount_id" property="discountId" jdbcType="VARCHAR" />
        <result column="group_count" property="groupCount" jdbcType="INTEGER" />
        <result column="group_price" property="groupPrice" jdbcType="DECIMAL" />
        <result column="goods_type" property="goodsType" jdbcType="TINYINT" />
        <result column="store_sku_id" property="storeSkuId" jdbcType="VARCHAR" />
        <result column="group_valid" property="groupValid" jdbcType="INTEGER" />
        <result column="goods_count_limit" property="goodsCountLimit" jdbcType="INTEGER" />
        <result column="goods_day_count_limit" property="goodsDayCountLimit" jdbcType="INTEGER" />
        <result column="user_count_limit" property="userCountLimit" jdbcType="INTEGER" />
        <result column="user_day_count_limit" property="userDayCountLimit" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="create_user_id" property="createUserId" jdbcType="VARCHAR" />
        <result column="sort" property="sort" jdbcType="INTEGER" />
        
        <result column="store_name" property="storeName" jdbcType="VARCHAR" />
        <result column="online_price" property="onlinePrice" jdbcType="DECIMAL" />
        <result column="name" property="skuName" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, discount_id, group_count, group_price, goods_type, store_sku_id, group_valid, 
        goods_count_limit, goods_day_count_limit, user_count_limit, user_day_count_limit, 
        create_time, create_user_id, sort
    </sql>

    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from activity_discount_group
        where id = #{id,jdbcType=VARCHAR}
    </select>
    
    <!-- 批量添加团购商品信息 -->
    <insert id="batchAdd" parameterType="com.okdeer.mall.activity.discount.entity.ActivityDiscountGroup">
		INSERT INTO activity_discount_group(
	        <include refid="Base_Column_List"/>
		) VALUES 
		<foreach collection="list" item="item" index="index" separator="," >
        ( #{item.id,jdbcType=VARCHAR},#{item.discountId,jdbcType=VARCHAR},
          #{item.groupCount,jdbcType=INTEGER},#{item.groupPrice,jdbcType=DECIMAL},
          #{item.goodsType,jdbcType=TINYINT},#{item.storeSkuId,jdbcType=VARCHAR},
          #{item.groupValid,jdbcType=INTEGER},#{item.goodsCountLimit,jdbcType=INTEGER},
          #{item.goodsDayCountLimit,jdbcType=INTEGER},#{item.userCountLimit,jdbcType=INTEGER},
          #{item.userDayCountLimit,jdbcType=INTEGER},#{item.createTime,jdbcType=TIMESTAMP},
          #{item.createUserId,jdbcType=VARCHAR},#{item.sort,jdbcType=INTEGER}
        )
		</foreach>
	</insert>

    <insert id="add" parameterType="com.okdeer.mall.activity.discount.entity.ActivityDiscountGroup" >
        insert into activity_discount_group
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="discountId != null" >
                discount_id,
            </if>
            <if test="groupCount != null" >
                group_count,
            </if>
            <if test="groupPrice != null" >
                group_price,
            </if>
            <if test="goodsType != null" >
                goods_type,
            </if>
            <if test="storeSkuId != null" >
                store_sku_id,
            </if>
            <if test="groupValid != null" >
                group_valid,
            </if>
            <if test="goodsCountLimit != null" >
                goods_count_limit,
            </if>
            <if test="goodsDayCountLimit != null" >
                goods_day_count_limit,
            </if>
            <if test="userCountLimit != null" >
                user_count_limit,
            </if>
            <if test="userDayCountLimit != null" >
                user_day_count_limit,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="createUserId != null" >
                create_user_id,
            </if>
            <if test="sort != null" >
                sort,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="discountId != null" >
                #{discountId,jdbcType=VARCHAR},
            </if>
            <if test="groupCount != null" >
                #{groupCount,jdbcType=INTEGER},
            </if>
            <if test="groupPrice != null" >
                #{groupPrice,jdbcType=DECIMAL},
            </if>
            <if test="goodsType != null" >
                #{goodsType,jdbcType=TINYINT},
            </if>
            <if test="storeSkuId != null" >
                #{storeSkuId,jdbcType=VARCHAR},
            </if>
            <if test="groupValid != null" >
                #{groupValid,jdbcType=INTEGER},
            </if>
            <if test="goodsCountLimit != null" >
                #{goodsCountLimit,jdbcType=INTEGER},
            </if>
            <if test="goodsDayCountLimit != null" >
                #{goodsDayCountLimit,jdbcType=INTEGER},
            </if>
            <if test="userCountLimit != null" >
                #{userCountLimit,jdbcType=INTEGER},
            </if>
            <if test="userDayCountLimit != null" >
                #{userDayCountLimit,jdbcType=INTEGER},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserId != null" >
                #{createUserId,jdbcType=VARCHAR},
            </if>
            <if test="sort != null" >
                #{item.sort,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.okdeer.mall.activity.discount.entity.ActivityDiscountGroup" >
        update activity_discount_group
        <set >
            <if test="discountId != null" >
                discount_id = #{discountId,jdbcType=VARCHAR},
            </if>
            <if test="groupCount != null" >
                group_count = #{groupCount,jdbcType=INTEGER},
            </if>
            <if test="groupPrice != null" >
                group_price = #{groupPrice,jdbcType=DECIMAL},
            </if>
            <if test="goodsType != null" >
                goods_type = #{goodsType,jdbcType=TINYINT},
            </if>
            <if test="storeSkuId != null" >
                store_sku_id = #{storeSkuId,jdbcType=VARCHAR},
            </if>
            <if test="groupValid != null" >
                group_valid = #{groupValid,jdbcType=INTEGER},
            </if>
            <if test="goodsCountLimit != null" >
                goods_count_limit = #{goodsCountLimit,jdbcType=INTEGER},
            </if>
            <if test="goodsDayCountLimit != null" >
                goods_day_count_limit = #{goodsDayCountLimit,jdbcType=INTEGER},
            </if>
            <if test="userCountLimit != null" >
                user_count_limit = #{userCountLimit,jdbcType=INTEGER},
            </if>
            <if test="userDayCountLimit != null" >
                user_day_count_limit = #{userDayCountLimit,jdbcType=INTEGER},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserId != null" >
                create_user_id = #{createUserId,jdbcType=VARCHAR},
            </if>
            <if test="sort != null" >
               #{item.sort,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
	
	<!-- 删除团购活动的商品 -->
  	<delete id="deleteByActivityId" parameterType="java.lang.String">
   		DELETE FROM activity_discount_group WHERE discount_id = #{activityId,jdbcType=VARCHAR};
  	</delete>

    <delete id="delete" parameterType="java.lang.String" >
        delete from activity_discount_group
        where id = #{id,jdbcType=VARCHAR}
    </delete>
	
	<!-- 根据活动ID查询团购活动的商品 -->
  	<select id="findByActivityId" resultMap="BaseResultMap" parameterType="java.lang.String">
	    SELECT  
	    	gp.id, gp.discount_id, gp.group_count, gp.group_price, gp.goods_type, gp.store_sku_id, gp.group_valid, 
       	 	gp.goods_count_limit, gp.goods_day_count_limit, gp.user_count_limit, gp.user_day_count_limit, 
        	gp.create_time, gp.create_user_id, gp.sort, store.store_name ,sku.online_price,sku.name
	    FROM activity_discount_group gp
	    	LEFT JOIN goods_store_sku sku  on sku.id = gp.store_sku_id
	  		LEFT JOIN store_info store ON sku.store_id = store.id 
	    WHERE discount_id = #{activityId,jdbcType=VARCHAR}
	    ORDER BY sort ASC
  	</select>
  	
  	<!-- 查询团购商品信息 -->
	<select id="findByActivityIdAndSkuId" parameterType="map" resultMap="BaseResultMap">
		SELECT <include refid="Base_Column_List" />
		FROM activity_discount_group
		WHERE discount_id = #{activityId,jdbcType=VARCHAR}
		AND store_sku_id = #{storeSkuId,jdbcType=VARCHAR}
	</select>
	
	<resultMap id="CategoryResultMap"
		type="com.okdeer.archive.goods.base.entity.GoodsSpuCategory">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="pid" property="pid" jdbcType="VARCHAR" />
		<result column="level_id" property="levelId" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
	</resultMap>
	
	<!-- 查询团购商品信息 -->
	<select id="findGroupGoodsCategory" parameterType="map" resultMap="CategoryResultMap">
		SELECT 
		     DISTINCT cate.name,cate.id
		FROM activity_discount ad 
		 	 INNER JOIN activity_discount_group g ON ad.`id` = g.`discount_id`
		 	 INNER JOIN goods_store_sku sku ON g.store_sku_id = sku.id
		 	 INNER JOIN goods_spu_category cate ON sku.spu_category_id = cate.id
		WHERE 1=1
		     <if test="status != null">
			   and ad.status = #{status,jdbcType=TINYINT}
		     </if>
	</select>
	
	
	<resultMap id="GoodsListResultMap"
		type="com.okdeer.mall.activity.discount.dto.ActivityGoodsGroupSkuDto">
		<id column="id" property="discountId" jdbcType="VARCHAR" />
		<result column="group_count" property="groupCount" jdbcType="INTEGER" />
        <result column="group_price" property="groupPrice" jdbcType="DECIMAL" />
        <result column="store_sku_id" property="storeSkuId" jdbcType="VARCHAR" />
        <result column="url" property="url" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="alias" property="alias" jdbcType="VARCHAR" />
		<result column="unit" property="unit" jdbcType="VARCHAR" />
		<result column="openGroupTotal" property="openGroupTotal" jdbcType="INTEGER" />
	</resultMap>
	
	<!-- 查询团购商品列表 -->
	<select id="findGroupGoodsList" parameterType="java.util.Map" resultMap="GoodsListResultMap">
		SELECT 
			 ad.id,sku.name,sku.alias,p.url,
			 g.group_price,g.group_count,sku.unit,
			 COUNT(tg.id) openGroupTotal,g.store_sku_id
		FROM activity_discount ad 
		 	INNER JOIN activity_discount_group g ON ad.id = g.discount_id
			INNER JOIN goods_store_sku sku ON g.store_sku_id = sku.id
			INNER JOIN goods_store_sku_picture p ON p.store_sku_id = sku.id AND p.type = 1 
			LEFT JOIN trade_order_group tg ON g.discount_id = tg.activity_id AND g.store_sku_id=tg.store_sku_id  and tg.status =1
		WHERE 1=1
		     <if test="status != null">
			    and ad.status = #{status,jdbcType=TINYINT}
		     </if>
		     <if test="spuCategoryId != null and spuCategoryId != '' ">
			    and sku.spu_category_id = #{spuCategoryId,jdbcType=VARCHAR}
		     </if>
		GROUP BY g.store_sku_id
		<if test="sortType == null or sortType == 0 ">
		    ORDER BY g.sort DESC,ad.create_time DESC,g.create_time DESC
	    </if>
		<if test="sortType != null and sortType == 1 ">
		    ORDER BY g.group_price DESC,ad.create_time DESC,g.create_time DESC
	    </if>
	    <if test="sortType != null and sortType == 2 ">
		    ORDER BY g.group_price,ad.create_time DESC,g.create_time DESC
	    </if>
	</select>
	
	
</mapper>