<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.okdeer.mall.activity.discount.mapper.ActivityDiscountRecordMapper" >
    <resultMap id="BaseResultMap" type="com.okdeer.mall.activity.discount.entity.ActivityDiscountRecord" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="discount_id" property="discountId" jdbcType="VARCHAR" />
        <result column="discount_conditions_id" property="discountConditionsId" jdbcType="VARCHAR" />
        <result column="discount_type" property="discountType" jdbcType="TINYINT" />
        <result column="user_id" property="userId" jdbcType="VARCHAR" />
        <result column="store_id" property="storeId" jdbcType="VARCHAR" />
        <result column="order_id" property="orderId" jdbcType="VARCHAR" />
        <result column="order_time" property="orderTime" jdbcType="TIMESTAMP" />
        <result column="order_disabled" property="orderDisabled" jdbcType="TINYINT" />
		<result column="device_id" property="deviceId" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, discount_id, discount_conditions_id, discount_type, user_id, store_id, order_id, 
        order_time, order_disabled, device_id
    </sql>

    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from activity_discount_record
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <insert id="add" parameterType="com.okdeer.mall.activity.discount.entity.ActivityDiscountRecord" >
        insert into activity_discount_record
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="discountId != null" >
                discount_id,
            </if>
            <if test="discountConditionsId != null" >
                discount_conditions_id,
            </if>
            <if test="discountType != null" >
                discount_type,
            </if>
            <if test="userId != null" >
                user_id,
            </if>
            <if test="storeId != null" >
                store_id,
            </if>
            <if test="orderId != null" >
                order_id,
            </if>
            <if test="orderTime != null" >
                order_time,
            </if>
            <if test="orderDisabled != null" >
                order_disabled,
            </if>
            <if test="deviceId != null" >
                device_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="discountId != null" >
                #{discountId,jdbcType=VARCHAR},
            </if>
            <if test="discountConditionsId != null" >
                #{discountConditionsId,jdbcType=VARCHAR},
            </if>
            <if test="discountType != null" >
                #{discountType,jdbcType=TINYINT},
            </if>
            <if test="userId != null" >
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="storeId != null" >
                #{storeId,jdbcType=VARCHAR},
            </if>
            <if test="orderId != null" >
                #{orderId,jdbcType=VARCHAR},
            </if>
            <if test="orderTime != null" >
                #{orderTime,jdbcType=TIMESTAMP},
            </if>
            <if test="orderDisabled != null" >
                #{orderDisabled,jdbcType=TINYINT},
            </if>
            <if test="deviceId != null" >
                #{deviceId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.okdeer.mall.activity.discount.entity.ActivityDiscountRecord" >
        update activity_discount_record
        <set >
            <if test="discountId != null" >
                discount_id = #{discountId,jdbcType=VARCHAR},
            </if>
            <if test="discountConditionsId != null" >
                discount_conditions_id = #{discountConditionsId,jdbcType=VARCHAR},
            </if>
            <if test="discountType != null" >
                discount_type = #{discountType,jdbcType=TINYINT},
            </if>
            <if test="userId != null" >
                user_id = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="storeId != null" >
                store_id = #{storeId,jdbcType=VARCHAR},
            </if>
            <if test="orderId != null" >
                order_id = #{orderId,jdbcType=VARCHAR},
            </if>
            <if test="orderTime != null" >
                order_time = #{orderTime,jdbcType=TIMESTAMP},
            </if>
            <if test="orderDisabled != null" >
                order_disabled = #{orderDisabled,jdbcType=TINYINT},
            </if>
            <if test="deviceId != null" >
                device_id = #{deviceId,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <delete id="delete" parameterType="java.lang.String" >
        delete from activity_discount_record
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    
    <select id="countTotalFreq" parameterType="com.okdeer.mall.activity.coupons.bo.ActivityRecordParamBo" resultType="int">
    	SELECT COUNT(1)
    	FROM activity_discount_record
    	WHERE discount_id = #{pkId,jdbcType=VARCHAR}
		<if test="deviceId != null">
   			AND device_id = #{deviceId,jdbcType=VARCHAR}
   		</if>
   		<if test="userId != null">
   			AND user_id = #{userId,jdbcType=VARCHAR}
   		</if>
   		<if test="recDate != null">
   			AND order_time BETWEEN CONCAT(#{recDate,jdbcType=VARCHAR},' 00:00:00') AND CONCAT(#{recDate,jdbcType=VARCHAR},' 23:59:59')
   		</if>
    	AND order_disabled = 0
    </select>

	<update id="deleteByOrderId" parameterType="string" >
        UPDATE activity_discount_record
        SET order_disabled = 1
        WHERE order_id = #{orderId,jdbcType=VARCHAR}
	</update>
</mapper>