<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.okdeer.mall.risk.mapper.RiskWhiteMapper" >
    <resultMap id="BaseResultMap" type="com.okdeer.mall.risk.entity.RiskWhite" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="telephone_account" property="telephoneAccount" jdbcType="VARCHAR" />
         <result column="account_type" property="accountType" jdbcType="NUMERIC" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="create_user_id" property="createUserId" jdbcType="VARCHAR" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR" />
        <result column="disabled" property="disabled" jdbcType="TINYINT" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, telephone_account,account_type, create_time, create_user_id, update_time, update_user_id, 
        disabled
    </sql>
      <!-- 批量加入白名单 -->
    <insert  id="addBatch"  parameterType="java.util.List">
		insert into risk_white 
		 (id, telephone_account,account_type, create_time, 
		 create_user_id, update_time, update_user_id, 
         disabled
		 )   
	    values  
	    <foreach collection="riskW hiteList" item="item" index="index" separator="," >  
	        (#{item.id},
	        #{item.telephoneAccount},
	         #{item.accountType},
	        #{item.createTime},
	        #{item.createUserId},
	        #{item.updateTime},
	        #{item.updateUserId},
	        #{item.disabled})  
	    </foreach>  
    </insert>
     <!-- 批量删除 （逻辑删除） -->
  <update id="deleteBatchByIds">
	 UPDATE risk_white 
	 SET disabled = 1,
	     update_time = #{updateTime,jdbcType=TIMESTAMP},
	     update_user_id = #{updateUserId,jdbcType=VARCHAR}
	 WHERE 
	 <if test="ids != null ">
		 id  in 
		 <foreach collection="ids" open="(" close=")" index="index" item="item"  separator=",">
	        #{item}
	     </foreach>
     </if>
     <if test="ids == null ">
       1 = 2
     </if>  
   </update>
   <!-- 根据条件搜索皮肤列表 -->
  <select id="findWhiteList" resultMap="BaseResultMap" parameterType="com.okdeer.mall.risk.dto.RiskWhiteDto">
    SELECT 
    <include refid="Base_Column_List" />
     FROM risk_white 
     WHERE 1=1
       <!-- 未被删除的 -->
       AND disabled = 0
       <!-- 活动名称 -->
       <if test="telephoneAccount != null and telephoneAccount != ''">
         AND telephone_account LIKE CONCAT('%',#{telephoneAccount,jdbcType=VARCHAR},'%') 
       </if>
       <!-- 创建时间 -->
       <if test="createTimeStart != null">
         AND create_time <![CDATA[ >= ]]> #{createTimeStart,jdbcType=TIMESTAMP}
       </if>
       <if test="createTimeEnd != null">
         AND create_time <![CDATA[ <= ]]> #{createTimeEnd,jdbcType=TIMESTAMP}
       </if>
       ORDER BY create_time DESC
  </select>
  <select id="selectWhiteByAccount" resultType="int" parameterType="java.lang.String" >
        select count(1)  
          from risk_white
        where telephone_account = #{telephoneAccount,jdbcType=VARCHAR}
  </select>
  <!-- 自动工具生成 -->
    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from risk_white
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <insert id="add" parameterType="com.okdeer.mall.risk.entity.RiskWhite" >
        insert into risk_white
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="telephoneAccount != null" >
                telephone_account,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="createUserId != null" >
                create_user_id,
            </if>
            <if test="updateTime != null" >
                update_time,
            </if>
            <if test="updateUserId != null" >
                update_user_id,
            </if>
            <if test="disabled != null" >
                disabled,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="telephoneAccount != null" >
                #{telephoneAccount,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserId != null" >
                #{createUserId,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null" >
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserId != null" >
                #{updateUserId,jdbcType=VARCHAR},
            </if>
            <if test="disabled != null" >
                #{disabled,jdbcType=NUMERIC},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.okdeer.mall.risk.entity.RiskWhite" >
        update risk_white
        <set >
            <if test="telephoneAccount != null" >
                telephone_account = #{telephoneAccount,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserId != null" >
                create_user_id = #{createUserId,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null" >
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserId != null" >
                update_user_id = #{updateUserId,jdbcType=VARCHAR},
            </if>
            <if test="disabled != null" >
                disabled = #{disabled,jdbcType=NUMERIC},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <delete id="delete" parameterType="java.lang.String" >
        update risk_white set disabled =1 
        where id = #{id,jdbcType=VARCHAR}
    </delete>

</mapper>