<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.okdeer.mall.activity.coupons.mapper.ActivityCouponsRecordMapper" >
  <resultMap id="BaseResultMap" type="com.okdeer.mall.activity.coupons.entity.ActivityCouponsRecord" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="collect_type" property="collectType" javaType="com.okdeer.mall.activity.coupons.enums.ActivityCouponsType" jdbcType="TINYINT" />
    <result column="coupons_id" property="couponsId" jdbcType="VARCHAR" />
    <result column="coupons_collect_id" property="couponsCollectId" jdbcType="VARCHAR" />
    <result column="collect_time" property="collectTime" jdbcType="TIMESTAMP" />
    <result column="collect_user_id" property="collectUserId" jdbcType="VARCHAR" />
    <result column="valid_time" property="validTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" javaType="com.okdeer.mall.activity.coupons.enums.ActivityCouponsRecordStatusEnum" jdbcType="TINYINT" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="room_id" property="roomId" jdbcType="VARCHAR" />
  </resultMap>
  
   <resultMap id="VoResultMap" type="com.okdeer.mall.activity.coupons.entity.ActivityCouponsRecordVo" extends="BaseResultMap">
    <result column="face_value" property="faceValue" javaType="integer" jdbcType="INTEGER" />
    <result property="belongType" column="belong_type" javaType="string" jdbcType="VARCHAR"/> 
    <result property="createUserId" column="create_user_id" javaType="string" jdbcType="VARCHAR"/>    
  </resultMap>
  <sql id="Base_Column_List" >
    id, collect_type, coupons_id, coupons_collect_id, collect_time, collect_user_id, 
    valid_time, status, order_id, room_id
  </sql>
  <sql id="condition" >
    <if test="null!=params" >
      <if test="null!=params.orderId and ''!=params.orderId" >
        AND order_id = #{params.orderId,jdbcType=VARCHAR}
      </if>
    </if>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from activity_coupons_record
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="map" >
    SELECT 
    <include refid="Base_Column_List" />
     FROM activity_coupons_record WHERE 1=1 
    <include refid="condition" />
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    DELETE FROM activity_coupons_record
    WHERE id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.okdeer.mall.activity.coupons.entity.ActivityCouponsRecord" >
    insert into activity_coupons_record (id, collect_type, coupons_id, 
      coupons_collect_id, collect_time, collect_user_id, 
      valid_time, status, order_id, 
      room_id)
    values (#{id,jdbcType=VARCHAR}, #{collectType,jdbcType=BIT}, #{couponsId,jdbcType=VARCHAR}, 
      #{couponsCollectId,jdbcType=VARCHAR}, #{collectTime,jdbcType=TIMESTAMP}, #{collectUserId,jdbcType=VARCHAR}, 
      #{validTime,jdbcType=TIMESTAMP}, #{status,jdbcType=BIT}, #{orderId,jdbcType=VARCHAR}, 
      #{roomId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.okdeer.mall.activity.coupons.entity.ActivityCouponsRecord" >
    insert into activity_coupons_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="collectType != null" >
        collect_type,
      </if>
      <if test="couponsId != null" >
        coupons_id,
      </if>
      <if test="couponsCollectId != null" >
        coupons_collect_id,
      </if>
      <if test="collectTime != null" >
        collect_time,
      </if>
      <if test="collectUserId != null" >
        collect_user_id,
      </if>
      <if test="validTime != null" >
        valid_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="roomId != null" >
        room_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="collectType != null" >
        #{collectType,jdbcType=BIT},
      </if>
      <if test="couponsId != null" >
        #{couponsId,jdbcType=VARCHAR},
      </if>
      <if test="couponsCollectId != null" >
        #{couponsCollectId,jdbcType=VARCHAR},
      </if>
      <if test="collectTime != null" >
        #{collectTime,jdbcType=TIMESTAMP},
      </if>
      <if test="collectUserId != null" >
        #{collectUserId,jdbcType=VARCHAR},
      </if>
      <if test="validTime != null" >
        #{validTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="roomId != null" >
        #{roomId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.okdeer.mall.activity.coupons.entity.ActivityCouponsRecord" >
    update activity_coupons_record
    <set >
      <if test="collectType != null" >
        collect_type = #{collectType,jdbcType=BIT},
      </if>
      <if test="couponsId != null" >
        coupons_id = #{couponsId,jdbcType=VARCHAR},
      </if>
      <if test="couponsCollectId != null" >
        coupons_collect_id = #{couponsCollectId,jdbcType=VARCHAR},
      </if>
      <if test="collectTime != null" >
        collect_time = #{collectTime,jdbcType=TIMESTAMP},
      </if>
      <if test="collectUserId != null" >
        collect_user_id = #{collectUserId,jdbcType=VARCHAR},
      </if>
      <if test="validTime != null" >
        valid_time = #{validTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIT},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="roomId != null" >
        room_id = #{roomId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.okdeer.mall.activity.coupons.entity.ActivityCouponsRecord" >
    update activity_coupons_record
    set collect_type = #{collectType,jdbcType=BIT},
      coupons_id = #{couponsId,jdbcType=VARCHAR},
      coupons_collect_id = #{couponsCollectId,jdbcType=VARCHAR},
      collect_time = #{collectTime,jdbcType=TIMESTAMP},
      collect_user_id = #{collectUserId,jdbcType=VARCHAR},
      valid_time = #{validTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=BIT},
      order_id = #{orderId,jdbcType=VARCHAR},
      room_id = #{roomId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <resultMap id="RecordVoMap" type="com.okdeer.mall.activity.coupons.entity.ActivityCouponsRecordVo" extends="BaseResultMap">     
        <result property="name" column="name" javaType="string" jdbcType="VARCHAR"/> 
        <result property="faceValue" column="face_value" javaType="integer" jdbcType="INTEGER"/>
        <result property="activityId" column=" activity_id " javaType="string" jdbcType="VARCHAR"/>
        <result property="activityName" column="activity_name" javaType="string" jdbcType="VARCHAR"/>
        <result property="collectUserName" column="user_name" javaType="string" jdbcType="VARCHAR"/>              
        <result property="arriveLimit" column="arrive_limit" javaType="integer" jdbcType="INTEGER"/>
        <result property="validDay" column="valid_day" javaType="integer" jdbcType="INTEGER"/>  
        <result property="orderNo" column="order_no" javaType="string" jdbcType="VARCHAR"/>
        <result property="belongType" column="belong_type" javaType="string" jdbcType="VARCHAR"/> 
  </resultMap>
  
  <resultMap id="CouponsFindMap" type="com.okdeer.mall.activity.coupons.entity.ActivityCoupons">
       	<result property="faceValue" column="face_value" javaType="integer" jdbcType="INTEGER"/>
        <result property="arriveLimit" column="arrive_limit" javaType="integer" jdbcType="INTEGER"/>
    </resultMap>
  
  <sql id="BaseSelectSQL">
         id, collect_type, coupons_id, coupons_collect_id, collect_time, collect_user_id,
         valid_time, STATUS, order_id, room_id
  </sql>
  
  <sql id="couponsVo">
  		cou.`face_value`,cou.`arrive_limit`
  </sql>
  
   <select id="selectAllRecords" parameterType="com.okdeer.mall.activity.coupons.entity.ActivityCouponsRecordVo" resultMap="RecordVoMap">
	  select A.id, A.collect_type, A.coupons_id, A.coupons_collect_id, A.collect_time, A.collect_user_id, B.name, B.activity_id, B.arrive_limit, 
             B.valid_day, A.valid_time, A.STATUS, A.order_id, A.room_id, C.name as activity_name, D.login_name as user_name, B.face_value, B.belong_type 
      FROM activity_coupons_record A
      LEFT JOIN activity_coupons B ON B.id = A.coupons_id
      LEFT JOIN activity_collect_coupons C ON C.id = B.activity_id
      LEFT JOIN sys_buyer_user D ON D.id = A.collect_user_id   
      WHERE 1 = 1 
      <if test="name != null and name != ''">
            AND B.name LIKE CONCAT('%',#{name,jdbcType=VARCHAR},'%')
      </if>
      <if test="collectUserName != null and collectUserName != ''">
            AND D.login_name LIKE CONCAT('%',#{collectUserName,jdbcType=VARCHAR},'%')
      </if> 
      <if test="startTime != null">
			<![CDATA[ AND A.collect_time >= #{startTime}]]> 
	  </if>
	  <if test="endTime != null">
			<![CDATA[ AND A.collect_time < #{endTime}]]>  
	  </if>
	  <if test="belongType != null and belongType != ''">
<!-- 			0是运营商,可以看到所有人的,  大于0,是代理商,只能看到自己的 -->
			AND B.belong_type = #{belongType}
	</if>
	  <if test="status != null">
			AND A.STATUS = #{status,jdbcType=TINYINT} 
	  </if>  
	  ORDER BY 
		A.collect_time 
	  DESC 
   </select> 
   
   <!-- 根据记录id查询订单相关信息 added by tangy -->
   <select id="findOrderByRecordId" resultMap="RecordVoMap">
	  select T.order_no, A.id
      FROM activity_coupons_record A 
      LEFT JOIN trade_order T ON T.id = A.order_id   
      WHERE A.id IN 
	  <foreach collection="recordIds" item="item" open="(" close=")" separator=",">
           #{item,jdbcType=VARCHAR}
      </foreach>
   </select> 
   <!-- end added by tangy -->
	
   <select id="selectExportRecords" parameterType="java.util.Map" resultMap="RecordVoMap">
<!-- 	  select A.id, A.collect_type, A.coupons_id, A.coupons_collect_id, A.collect_time, A.collect_user_id, B.name, B.activity_id, B.arrive_limit, 
             B.valid_day, A.valid_time, A.STATUS, A.order_id, A.room_id, C.name as activity_name, D.nick_name user_name, B.face_value 
      FROM activity_coupons_record A
      LEFT JOIN activity_coupons B ON B.id = A.coupons_id
      LEFT JOIN activity_collect_coupons C ON C.id = B.activity_id 
      LEFT JOIN sys_buyer_user D ON D.id = A.collect_user_id  
      WHERE 1 = 1  -->
      select T.order_no, A.id, A.collect_type, A.coupons_id, A.coupons_collect_id, A.collect_time, A.collect_user_id, B.name, B.activity_id, B.arrive_limit, 
             B.valid_day, A.valid_time, A.STATUS, A.order_id, A.room_id, C.name as activity_name, D.login_name as user_name, B.face_value, B.belong_type 
      FROM activity_coupons_record A
      LEFT JOIN activity_coupons B ON B.id = A.coupons_id
      LEFT JOIN activity_collect_coupons C ON C.id = B.activity_id 
      LEFT JOIN trade_order T ON T.id = A.order_id
      LEFT JOIN sys_buyer_user D ON D.id = A.collect_user_id   
      WHERE 1 = 1 
      <if test="name != null and name != ''">
            AND B.name LIKE CONCAT('%',#{name,jdbcType=VARCHAR},'%')
      </if>
      <if test="collectUserName != null and collectUserName != ''">
            AND D.user_name LIKE CONCAT('%',#{collectUserName,jdbcType=VARCHAR},'%')
      </if> 
      <if test="startTime != null">
			<![CDATA[ AND A.collect_time >= #{startTime}]]> 
	  </if>
	  <if test="endTime != null">
			<![CDATA[ AND A.collect_time < #{endTime}]]>  
	  </if>
	  <if test="belongType != null and belongType != ''">
<!-- 			0是运营商,可以看到所有人的,  大于0,是代理商,只能看到自己的 -->
			AND B.belong_type = #{belongType}
	</if>
	  <if test="status != null">
			AND A.STATUS = #{status,jdbcType=TINYINT} 
	  </if> 
	  ORDER BY A.collect_time DESC 
  </select>

  <select id="updateUseStatus" resultType="java.lang.Integer" parameterType="java.lang.String">
   	update activity_coupons_record
	SET status = 0,
	order_id = ''
	WHERE order_id= #{orderId,jdbcType=VARCHAR}
   </select>
   
  <select id="updateUseStatusAndExpire" resultType="java.lang.Integer" parameterType="java.lang.String">
   	update activity_coupons_record
	SET status = 2
	WHERE order_id= #{orderId,jdbcType=VARCHAR}
   </select>
  
  <!-- wusw:根据代金券id、活动id、活动类型和领取人id，查询代金券领取记录信息 -->
	<select id="selectCountByParams" resultType="int" parameterType="com.okdeer.mall.activity.coupons.entity.ActivityCouponsRecord">
	  SELECT count(1)
	  FROM activity_coupons_record 
	  WHERE  1=1
	  <!-- 领取人id -->
	  <if test="collectUserId != null and collectUserId != ''">
	     AND collect_user_id = #{collectUserId,jdbcType=VARCHAR}
	  </if>
	  <!-- 代金券领取活动（注册活动）id -->
	  <if test="couponsCollectId != null and couponsCollectId != ''">
	    AND coupons_collect_id = #{couponsCollectId,jdbcType=VARCHAR}
	  </if>
	  <!-- 代金券id -->
	  <if test="couponsId != null and couponsId != ''">
	    AND coupons_id = #{couponsId,jdbcType=VARCHAR}
	  </if>
	  <!-- 活动类型 -->
	  <if test="collectType != null">
	     AND collect_type = #{collectType,jdbcType=TINYINT}
	  </if>
	  <!-- 领取状态 -->
	  <if test="status != null">
	     AND `status` = #{status,jdbcType=TINYINT}
	  </if>
	  <!-- 领取时间-->
	  <if test="collectTime != null">
	     AND collect_time = #{collectTime}
	  </if>	  
	</select>
  
   <!-- wusw:代金券领取活动、代金券、限制类目等关联信息 -->
    <resultMap id="couponsAndLimitCategoryDetailMap" type="com.okdeer.mall.activity.coupons.entity.ActivityCouponsRecordQueryVo" extends="BaseResultMap">
      <!-- 代金券活动信息 -->
      <!--  <id property="collectCouponsId" column="collectCouponsId" jdbcType="VARCHAR"/>
	  <result property="collectCouponsName" column="collectCouponsName" jdbcType="VARCHAR"/>
	  <result property="identityLimit" column="identity_limit" jdbcType="TINYINT" javaType="com.okdeer.mall.enums.IdentityLimit"/> -->
      <!-- 代金券信息 -->
      <association property="activityCoupons" javaType="com.okdeer.mall.activity.coupons.entity.ActivityCoupons">		
		<id property="id" column="couponsId" javaType="string" jdbcType="VARCHAR"/>
        <result property="name" column="couponsName" javaType="string" jdbcType="VARCHAR"/>
        <result property="faceValue" column="face_value" javaType="integer" jdbcType="INTEGER"/>     	
        <result property="arriveLimit" column="arrive_limit" javaType="integer" jdbcType="INTEGER"/>
        <result property="validDay" column="valid_day" javaType="integer" jdbcType="INTEGER"/>
        <result property="everyLimit" column="every_limit" javaType="integer" jdbcType="INTEGER"/>
        <result property="isCashDelivery" column="is_cash_delivery" javaType="com.okdeer.mall.activity.coupons.enums.CashDelivery" jdbcType="TINYINT"/>
        <result property="isCategoryLimit" column="is_category_limit" javaType="com.okdeer.mall.activity.coupons.enums.CategoryLimit"  jdbcType="TINYINT"/>
        <result property="type" column="type" javaType="integer" jdbcType="INTEGER"/>
        <result property="isCategory" column="is_category" javaType="integer" jdbcType="INTEGER"/>
        <result property="areaType" column="coupons_area_type" javaType="com.okdeer.mall.common.enums.AreaType"
                   jdbcType="TINYINT"/>
        <collection property="activityCouponsCategory" ofType="com.okdeer.mall.activity.coupons.entity.ActivityCouponsCategory">
	       <id column="categoryid" property="id" jdbcType="VARCHAR" />
           <result column="coupons_id" property="couponsId" jdbcType="VARCHAR" />
           <result column="category_id" property="categoryId" jdbcType="VARCHAR" />
           <result column="category_name" property="categoryName" jdbcType="VARCHAR" />
	    </collection> 
      </association> 
      <!-- 限制使用类目信息 -->
    <!--   <collection property="goodsSpuCategoryList"  ofType="com.okdeer.mall.goods.category.entity.GoodsSpuCategory">
         <id column="spuCategoryId" property="id" jdbcType="VARCHAR" />
		 <result column="spuCategoryName" property="name" jdbcType="VARCHAR" />
      </collection> -->
    </resultMap>
    
    <resultMap type="com.okdeer.mall.order.vo.RechargeCouponVo" id="rechargeCouponRsMap">
    	<id property="recordId" column="recordId" jdbcType="VARCHAR"/>
    	<result property="couponId" column="couponId" jdbcType="VARCHAR"/>
    	<result property="usableRange" column="usableRange" jdbcType="VARCHAR"/>
    	<result property="couponName" column="couponName" jdbcType="VARCHAR"/>
    	<result property="indate" column="indate" jdbcType="VARCHAR"/>
    	<result property="couponPrice" column="couponPrice" jdbcType="VARCHAR"/>
    	<result property="arrive" column="arrive" jdbcType="VARCHAR"/>
    	<result column="status" property="status" javaType="com.okdeer.mall.activity.coupons.enums.ActivityCouponsRecordStatusEnum" jdbcType="TINYINT" />
    	<result property="activityId" column="activity_id" javaType="string" jdbcType="VARCHAR"/>
    </resultMap>
    
  <!-- wusw:根据领取人id、领取状态，查询领取的代金券详细信息 -->
  <select id="selectMyCouponsDetailByParams" resultMap="couponsAndLimitCategoryDetailMap" parameterType="com.okdeer.mall.activity.coupons.entity.ActivityCouponsRecord">
   SELECT 
   coupons.id AS couponsId,coupons.`name` AS couponsName,coupons.face_value,coupons.arrive_limit,
   coupons.valid_day,coupons.every_limit,coupons.is_cash_delivery,coupons.is_category_limit,coupons.valid_day,
   coupons.type AS type,coupons.is_category AS is_category, coupons.area_type as coupons_area_type, 
   coupons.id as couponsId,record.id,record.collect_time,record.valid_time,  		
   CASE
   WHEN coupons.type = 1 THEN nav.name
   WHEN coupons.type = 2 THEN spu.name
   ELSE '' END as category_name
   FROM activity_coupons_record record
   LEFT JOIN activity_coupons coupons ON record.coupons_id = coupons.id
   LEFT JOIN activity_coupons_category category ON category.coupon_id = coupons.id	
   LEFT JOIN goods_navigate_category nav ON nav.id = category.category_id
   LEFT JOIN goods_spu_category spu ON spu.id = category.category_id
   WHERE 1=1
   <if test="collectUserId != null and collectUserId != ''">
     AND record.collect_user_id = #{collectUserId,jdbcType=VARCHAR}
   </if>
   <if test="status != null">
     AND record.`status` = #{status,jdbcType=TINYINT}
   </if>
    ORDER BY record.collect_time DESC
  </select> 
  
  <!-- yangq:根据领取人id、领取状态，店铺ID，查询领取的代金券详细信息 -->
  <select id="selectCouponsDetailByStoreId" resultMap="couponsAndLimitCategoryDetailMap"  parameterType="com.okdeer.mall.activity.coupons.entity.ActivityCouponsRecord">
	   SELECT coupons.id AS couponsId,coupons.`name` AS couponsName,coupons.face_value,coupons.arrive_limit,
          coupons.valid_day,coupons.every_limit,coupons.is_cash_delivery,coupons.is_category_limit,coupons.valid_day,
          record.id,record.collect_time,record.valid_time,record.collect_type,record.coupons_collect_id
	   FROM activity_coupons_record record LEFT JOIN activity_coupons_relation_store relation ON record.`coupons_id` = relation.`coupons_id`
	   LEFT JOIN activity_coupons coupons ON record.coupons_id = coupons.id
	   WHERE 1=1
	   <if test="collectUserId != null and collectUserId != ''">
	     AND record.collect_user_id = #{collectUserId,jdbcType=VARCHAR}
	   </if>
	   <if test="status != null">
	     AND record.`status` = #{status,jdbcType=TINYINT}
	   </if>
	   <if test="storeId != null">
	     AND relation.`store_id` = #{storeId,jdbcType=VARCHAR}
	   </if>
   </select>
   
   <select id="selectCouponsAllId" resultMap="couponsAndLimitCategoryDetailMap"  parameterType="com.okdeer.mall.activity.coupons.entity.ActivityCouponsRecord">
     SELECT 
		  coupons.id AS couponsId,
		  coupons.`name` AS couponsName,
		  coupons.face_value,
		  coupons.arrive_limit,
		  coupons.valid_day,
		  coupons.every_limit,
		  coupons.is_cash_delivery,
		  coupons.is_category_limit,
		  coupons.valid_day,
		  record.id,
		  record.collect_time,
		  record.valid_time,
		  record.collect_type,
		  record.coupons_collect_id 
		FROM
		  activity_coupons_record record 
		  LEFT JOIN activity_coupons coupons 
		    ON record.coupons_id = coupons.id 
		WHERE 1 = 1 
		  <if test="collectUserId != null and collectUserId != ''">
		  AND record.collect_user_id = #{collectUserId,jdbcType=VARCHAR}
		  </if>
		  AND record.`status` = 0 AND coupons.`area_type` = 0
   </select>
   
   <!-- Begin modified by maojj 查询条件去除type -->
   <!-- @author yangqin begin -->
   <select id="selectCouponsItem" parameterType="com.okdeer.mall.activity.coupons.entity.CouponsFindVo" resultMap="CouponsFindMap">
   		SELECT <include refid="couponsVo"/>
		FROM activity_collect_coupons co 
		LEFT JOIN activity_coupons cou  ON co.`id` = cou.`activity_id` 
		WHERE cou.`activity_id` = #{activityId,jdbcType=VARCHAR} 
		AND cou.`id`= #{activityItemId,jdbcType=VARCHAR}
   </select>
  <!-- @author yangqin end -->
  <!-- End modified by maojj 查询条件去除type -->
  
<!--   zhulq 定时任务 -->
   <select id="selectAllForJob" resultMap="BaseResultMap">
    SELECT 
    <include refid="Base_Column_List" />
     FROM activity_coupons_record WHERE status = 0
  </select>
  
     <update id="updateAllByBatch" parameterType="map">
    	update activity_coupons_record set status = #{status} where id in 
		<foreach item="item" index="index" collection="ids" open="(" separator="," close=")">  
  			#{item}  
 		</foreach>  
 		and status = 0
    </update>
    
   <select id="selectAllVendorById" parameterType="map" resultMap="BaseResultMap">
   		SELECT 
		  coupons.id AS couponsId,
		  coupons.`name` AS couponsName,
		  coupons.face_value,
		  coupons.arrive_limit,
		  coupons.valid_day,
		  coupons.every_limit,
		  coupons.is_cash_delivery,
		  coupons.is_category_limit,
		  coupons.valid_day,
		  record.id,
		  record.collect_time,
		  record.valid_time,
		  record.collect_type,
		  record.coupons_collect_id 
		FROM
		  activity_coupons_record record 
		  LEFT JOIN activity_coupons coupons 
		    ON record.coupons_id = coupons.id 
		WHERE 1 = 1 
		  AND record.collect_user_id = #{collectUserId,jdbcType=VARCHAR} 
		  AND record.`status` = '0' AND coupons.`area_type`=0 
   </select>
   
   <!-- modified by maojj 2016-10-10 防止用户刷代金券。下单时将代金券状态更改为已使用时，添加状态为0的条件 -->
   <update id="updateActivityCouponsStatus" parameterType="map">
      UPDATE activity_coupons_record set status = 1,order_id = #{orderId,jdbcType=VARCHAR} 
      WHERE status = 0
      AND id = #{id,jdbcType=VARCHAR}
   </update>
    
   <insert id="insertSelectiveBatch" parameterType="com.okdeer.mall.activity.coupons.entity.ActivityCouponsRecord" >
    insert into activity_coupons_record
        (id, collect_type, coupons_id, coupons_collect_id, collect_time, 
         collect_user_id, valid_time, status, order_id, room_id) values
     <foreach collection="list" item="item" index="index" separator="," >
       (#{item.id,jdbcType=VARCHAR},
        #{item.collectType,jdbcType=BIT},
        #{item.couponsId,jdbcType=VARCHAR},
        #{item.couponsCollectId,jdbcType=VARCHAR},
        #{item.collectTime,jdbcType=TIMESTAMP},
        #{item.collectUserId,jdbcType=VARCHAR},
        #{item.validTime,jdbcType=TIMESTAMP},
        #{item.status,jdbcType=BIT},
        #{item.orderId,jdbcType=VARCHAR},
        #{item.roomId,jdbcType=VARCHAR}
        )
     </foreach>
  </insert> 
  
    <!-- zhulq:根据代金券id、活动id、活动类型和领取人id，查询其他人代金券领取记录信息 -->
<!-- 	<select id="selectOtherCountByParams" resultType="int" parameterType="com.okdeer.mall.activity.coupons.entity.ActivityCouponsRecord">
	  SELECT count(1)
	  FROM activity_coupons_record 
	  WHERE  1=1
	  领取人id
	  <if test="collectUserId != null and collectUserId != ''">
	     AND collect_user_id != #{collectUserId,jdbcType=VARCHAR}
	  </if>
	  代金券领取活动（注册活动）id
	  <if test="couponsCollectId != null and couponsCollectId != ''">
	    AND coupons_collect_id = #{couponsCollectId,jdbcType=VARCHAR}
	  </if>
	  代金券id
	  <if test="couponsId != null and couponsId != ''">
	    AND coupons_id = #{couponsId,jdbcType=VARCHAR}
	  </if>
	  活动类型
	  <if test="collectType != null">
	     AND collect_type = #{collectType,jdbcType=TINYINT}
	  </if>
	  领取状态
	  <if test="status != null">
	     AND `status` = #{status,jdbcType=TINYINT}
	  </if>
	</select> -->
	
	<!-- 查询用户有效的代金券信息 Begin added by maojj -->
	<select id="findValidCoupons" parameterType="map" resultType="com.okdeer.mall.order.vo.Coupons">
		SELECT
			t2.name AS couponTitle, t2.type,
			0 AS usableRange,
			date_format(date_add(t.valid_time, interval -1 day),'%Y-%m-%d') AS indate,
			t.coupons_collect_id AS id,
			t2.id AS couponId,
			FORMAT(t2.face_value,2) AS couponPrice,
			t.id AS recordId,
			t.collect_type AS couponsType,
			t2.id AS activityItemId ,
			FORMAT(t2.arrive_limit,2) AS arrive,
			t2.is_category AS isCategory
		FROM
			activity_coupons_record t
<!-- 		LEFT JOIN activity_coupons_relation_store t1 ON t.coupons_id = t1.coupons_id -->
		LEFT JOIN activity_coupons t2 ON t.coupons_id = t2.id
		WHERE
			t.collect_user_id = #{userId}
		AND t.status = 0
		AND t2.disabled = 0
		<if test="type != ''">
			AND (t2.type = 0 OR ( t2.type = #{type}
			     AND (
			       <!-- 服务店代金券查询 -->
			       <if test="storeType == 4">
			       t2.area_type = 0 OR
				   ( (t2.area_type = 3 AND (EXISTS (SELECT 1 FROM activity_coupons_relation_store t1 WHERE t.coupons_id = t1.coupons_id AND t1.store_id = #{storeId} AND t2.area_type = 3)) ) 
	                   <if test="addressId != null and addressId != '' ">
	                     OR (t2.area_type = 1 AND EXISTS(SELECT 1 FROM activity_coupons_area aca LEFT JOIN member_consignee_address mca ON mca.id = #{addressId} 
	                      WHERE aca.coupons_id = t2.id AND ((aca.type = 0 AND aca.area_id = mca.city_id) OR (aca.type = 1 AND aca.area_id = mca.province_id))))
	                </if>
		           )
					</if>
					<!-- 平台发起的代金券活动，只有云上店可以使用 -->
					<if test="storeType == 2">
					    (EXISTS (SELECT 1 FROM activity_coupons_relation_store t1 WHERE t.coupons_id = t1.coupons_id AND t1.store_id = #{storeId}))
						OR t2.area_type = 0
					</if>
				)
			  )
			) 
		</if>
		AND t2.arrive_limit &lt;= #{totalAmount}
		ORDER BY t2.face_value DESC, t.collect_time DESC
	</select>
	<!-- End added by maojj -->
	
	<!-- 查询用户有效的手机充值代金券 begin added by zhaoqc -->
	<select id="findValidRechargeCoupons" parameterType="map" resultMap="rechargeCouponRsMap">
		select c.name as couponName,0 AS usableRange,
			DATE_FORMAT(t.valid_time, '%Y-%m-%d %T') AS indate,
			t.id as recordId,
			c.id as couponId,
			c.activity_id,
			FORMAT(c.face_value, 2) as couponPrice,
			FORMAT(c.arrive_limit,2) as arrive, t.status
		FROM activity_coupons_record t
		LEFT join activity_coupons c ON t.coupons_id=c.id
		WHERE t.collect_user_id = #{userId}
			and t.status = 0
			and c.disabled = 0 
			and (c.arrive_limit &lt;= #{orderAmount} or c.arrive_limit =  0) 
			and c.type = 3
		ORDER BY c.face_value DESC, t.valid_time
	</select>
	<!-- end added by zhaoqc -->
	
	<!-- 查询优惠券信息 Begin added by zhaoqc -->
	<select id="findRechargeCouponInfo" resultMap="rechargeCouponRsMap">
		SELECT DATE_FORMAT(r.valid_time, '%Y-%m-%d %T') AS indate,
			FORMAT(c.face_value, 2) as couponPrice,
			FORMAT(c.arrive_limit,2) as arrive,
			r.status
		FROM activity_coupons_record r
		LEFT join activity_coupons c on r.coupons_id=c.id
		WHERE r.id=#{recordId, jdbcType=VARCHAR} 
			AND c.id=#{couponId, jdbcType=VARCHAR}
			AND r.status = 0
	</select>
	<!-- End added by zhaoqc -->
	
	<!-- add by wushp 20160919 根据用户统计各种状态的代金券数量 -->
	<select id="findStatusCountByUserId" parameterType="java.lang.String" resultType="com.okdeer.mall.activity.coupons.entity.CouponsStatusCountVo">
		SELECT 
		  STATUS,COUNT(0) AS COUNT,
		  CASE
		    WHEN t.status = 0 
		    THEN 'unUse' 
		    WHEN t.status = 1 
		    THEN 'used' 
		    WHEN t.status = 2 
		    THEN 'expires' 
		  END AS statusStr 
		FROM
		  activity_coupons_record t 
		WHERE t.`collect_user_id` = #{userId} 
		GROUP BY t.status 	
	</select>
	<!-- end by wushp 20160919 根据用户统计各种状态的代金券数量 -->
	
	<!-- add by tangy 20160923 根据商品类目ids查询商品是否符合代金券指定分类 -->
    <select id="findIsContainBySpuCategoryIds" resultType="int">
        SELECT COUNT(1) FROM goods_spu_category tt
		LEFT JOIN goods_navigate_category_association gca ON gca.spu_category_id = tt.id
		INNER JOIN activity_coupons_category acc ON acc.coupon_id = #{couponsId} AND acc.category_id = gca.navigate_category_id
		WHERE tt.id IN 
        <foreach item="item" index="index" collection="spuCategoryIds" open="(" separator="," close=")">  
  			#{item}  
 		</foreach>
	</select>
	
	<!-- add by tangy 20161011根据商品类目ids查询商品是否符合代金券指定分类 -->
    <select id="findServerBySpuCategoryIds" resultType="int">
        SELECT COUNT(1) FROM goods_spu_category tt
		INNER JOIN activity_coupons_category acc ON acc.coupon_id = #{couponsId} AND acc.category_id = tt.id AND acc.type = 2
		WHERE tt.id IN 
        <foreach item="item" index="index" collection="spuCategoryIds" open="(" separator="," close=")">  
  			#{item}  
 		</foreach>
	</select>
	
	<!-- 根据代金券id获取类目名称集 -->
	<select id="findByCategoryNames" resultType="java.util.Map" >
		SELECT tt.coupon_id AS couponId,
		CASE tt.type WHEN 1 THEN GROUP_CONCAT(t2.`name`)
		WHEN 2 THEN GROUP_CONCAT(t3.`name`)
		END AS categoryNames
		FROM activity_coupons_category tt
		LEFT JOIN goods_navigate_category t2 ON tt.type = 1 AND t2.id = tt.category_id
		LEFT JOIN goods_spu_category t3 ON tt.type = 2 AND t3.id = tt.category_id
		WHERE tt.coupon_id IN 
        <foreach item="item" index="index" collection="couponIds" open="(" separator="," close=")">  
  			#{item}  
 		</foreach>
 		GROUP BY tt.coupon_id
	</select>
    <!-- end by tangy 20160923 根据商品ids查询商品是否符合代金券指定分类 -->
</mapper> 