<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.okdeer.mall.activity.coupons.mapper.ActivityCollectCouponsMapper">

	<resultMap type="com.okdeer.mall.activity.coupons.entity.ActivityCollectCoupons" id="ActivityCollectCoupons" >
		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="type" column="type" />
		<result property="status" column="status" />
		<result property="belongType" column="belong_type" />
		<result property="limitClientType" column="limit_client_type" />
		<result property="startTime" column="start_time" />
		<result property="endTime" column="end_time" />
		<result property="description" column="description" />
		<result property="identityLimit" column="identity_limit" />
		<result property="areaType" column="area_type" />
		<result property="totalCost" column="total_cost" />
		<result property="approvalStatus" column="approval_status" />
		<result property="approvalReason" column="approval_reason" />
		<result property="approvalTime" column="approval_time" />
		<result property="approvalUserId" column="approval_user_id" />
		<result property="createTime" column="create_time" />
		<result property="createUserId" column="create_user_id" />
		<result property="updateTime" column="update_time" />
		<result property="updateUserId" column="update_user_id" />
		<result property="disabled" column="disabled" />
		<result column="refund_type" property="refundType" jdbcType="TINYINT" javaType="com.okdeer.mall.order.enums.RefundType" />
		<result property="dailyCirculation" column="daily_circulation" />
		<result property="h5Url" column="h5_url" />
		<result property="limitAmount" column="limit_amount" />
		<result property="getUserType" column="get_user_type" javaType="com.okdeer.mall.common.enums.GetUserType" jdbcType="TINYINT"/>
	</resultMap>
	
	 <!-- 代金券信息 -->
     <resultMap id="activityCouponsMap" type="com.okdeer.mall.activity.coupons.entity.ActivityCoupons">	
		<id property="id" column="couponsId" javaType="string" jdbcType="VARCHAR"/>
		<result property="activityId" column="activity_id" javaType="string" jdbcType="VARCHAR"/>
		<result property="totalNum" column="total_num" javaType="integer" jdbcType="INTEGER"/>
		<result property="remainNum" column="remain_num" javaType="integer" jdbcType="INTEGER"/>
       	<result property="name" column="couponsName" javaType="string" jdbcType="VARCHAR"/>
       	<result property="faceValue" column="face_value" javaType="integer" jdbcType="INTEGER"/>     	
       	<result property="arriveLimit" column="arrive_limit" javaType="integer" jdbcType="INTEGER"/>
       	<result property="validDay" column="valid_day" javaType="integer" jdbcType="INTEGER"/>
      	 <result property="everyLimit" column="every_limit" javaType="integer" jdbcType="INTEGER"/>
       	<result property="isCashDelivery" column="is_cash_delivery" javaType="com.okdeer.mall.activity.coupons.enums.CashDelivery" jdbcType="TINYINT"/>
       	<result property="isCategoryLimit" column="is_category_limit" javaType="com.okdeer.mall.activity.coupons.enums.CategoryLimit"  jdbcType="TINYINT"/>
       	<result property="belongType" column="belong_type" javaType="string" jdbcType="VARCHAR"/>
       	<result property="createUserId" column="create_user_id" javaType="string" jdbcType="VARCHAR"/> 
       	<result property="type" column="coupons_type" javaType="integer" jdbcType="INTEGER"/>
       	<result property="isCategory" column="is_category" javaType="integer" jdbcType="INTEGER"/>
     </resultMap>

    <!-- wusw:代金券领取活动、代金券、限制类目等关联信息 -->
    <resultMap id="couponsAndLimitCategoryDetailMap" type="com.okdeer.mall.activity.coupons.entity.ActivityCollectCouponsVo">
      <id property="id" column="id" jdbcType="VARCHAR"/>
	  <result property="name" column="name" jdbcType="VARCHAR"/>
	  <result property="identityLimit" column="identity_limit" jdbcType="TINYINT" javaType="com.okdeer.mall.activity.discount.enums.IdentityLimit"/>
      <result column="refund_type" property="refundType" jdbcType="TINYINT" javaType="com.okdeer.mall.order.enums.RefundType" />
      <result property="dailyCirculation" column="daily_circulation" jdbcType="TINYINT" />
      <result property="startTime" column="start_time" jdbcType="TIMESTAMP" />
	  <result property="endTime" column="end_time" jdbcType="TIMESTAMP" />
      <!-- 代金券信息 -->
      <collection property="activityCoupons" ofType="com.okdeer.mall.activity.coupons.entity.ActivityCoupons">	
		<id property="id" column="couponsId" javaType="string" jdbcType="VARCHAR"/>
		<result property="activityId" column="activity_id" javaType="string" jdbcType="VARCHAR"/>
		<result property="totalNum" column="total_num" javaType="integer" jdbcType="INTEGER"/>
		<result property="remainNum" column="remain_num" javaType="integer" jdbcType="INTEGER"/>
        <result property="name" column="couponsName" javaType="string" jdbcType="VARCHAR"/>
        <result property="faceValue" column="face_value" javaType="integer" jdbcType="INTEGER"/>     	
        <result property="arriveLimit" column="arrive_limit" javaType="integer" jdbcType="INTEGER"/>
        <result property="validDay" column="valid_day" javaType="integer" jdbcType="INTEGER"/>
        <result property="everyLimit" column="every_limit" javaType="integer" jdbcType="INTEGER"/>
        <result property="isCashDelivery" column="is_cash_delivery" javaType="com.okdeer.mall.activity.coupons.enums.CashDelivery" jdbcType="TINYINT"/>
        <result property="isCategoryLimit" column="is_category_limit" javaType="com.okdeer.mall.activity.coupons.enums.CategoryLimit"  jdbcType="TINYINT"/>
        <result property="belongType" column="belong_type" javaType="string" jdbcType="VARCHAR"/>
        <result property="createUserId" column="create_user_id" javaType="string" jdbcType="VARCHAR"/> 
        <result property="type" column="coupons_type" javaType="integer" jdbcType="INTEGER"/>
        <result property="isCategory" column="is_category" javaType="integer" jdbcType="INTEGER"/>
        <result property="areaType" column="coupons_area_type" javaType="com.okdeer.mall.common.enums.AreaType"
                   jdbcType="TINYINT"/>
        <!-- add by zhulq  2016-12-19 异业代金卷新增字段 -->
	    <result property="description" column="description" javaType="string" jdbcType="VARCHAR"/> 
        <result property="startTime" column="start_time_coupons" javaType="date" jdbcType="TIMESTAMP"/> 
        <result property="endTime" column="end_time_coupons" javaType="date" jdbcType="TIMESTAMP"/>           
        <collection property="activityCouponsCategory" ofType="com.okdeer.mall.activity.coupons.entity.ActivityCouponsCategory">
	       <id column="categoryid" property="id" jdbcType="VARCHAR" />
           <result column="category_id" property="categoryId" jdbcType="VARCHAR" />
           <result column="category_name" property="categoryName" jdbcType="VARCHAR" />
	    </collection>  
      </collection>
      <!-- 限制使用类目信息 -->
     <!--  <collection property="goodsSpuCategoryList"  ofType="com.okdeer.mall.goods.category.entity.GoodsSpuCategory">
         <id column="spuCategoryId" property="id" jdbcType="VARCHAR" />
		 <result column="spuCategoryName" property="name" jdbcType="VARCHAR" />
      </collection> -->
    </resultMap>
    
        <!-- zhulq:活动关联的代金卷领取记录信息 -->
    <resultMap id="couponsRecordMap" type="com.okdeer.mall.activity.coupons.entity.ActivityCollectCouponsRecordVo">
      <id property="id" column="id" jdbcType="VARCHAR"/>
	  <result property="name" column="name" jdbcType="VARCHAR"/>
	  <result property="identityLimit" column="identity_limit" jdbcType="TINYINT" javaType="com.okdeer.mall.activity.discount.enums.IdentityLimit"/>
      <result column="refund_type" property="refundType" jdbcType="TINYINT" javaType="com.okdeer.mall.order.enums.RefundType" />
      <!-- 代金券信息 -->
      <collection property="activityCouponsRecordVo" ofType="com.okdeer.mall.activity.coupons.entity.ActivityCouponsRecordVo">	
		<id property="id" column="couponsRecordId" javaType="string" jdbcType="VARCHAR"/>
		<result column="face_value" property="faceValue" javaType="integer" jdbcType="INTEGER" />
   		<result property="belongType" column="belong_type" javaType="string" jdbcType="VARCHAR"/> 
        <result property="createUserId" column="create_user_id" javaType="string" jdbcType="VARCHAR"/>
        <result column="valid_time" property="validTime" jdbcType="TIMESTAMP" />
        <result property="couponsCollectId" column="coupons_collect_id" javaType="string" jdbcType="VARCHAR"/>
      </collection>
    </resultMap>
    
    <!-- begin：查询代金券活动以及关联地区列表 add by wushp -->
    <resultMap id="CollectCouponsAreaMap" type="com.okdeer.mall.activity.coupons.entity.ActivityCollectAreaVo" extends="ActivityCollectCoupons">
    	<collection property="activityCollectArea" ofType="com.okdeer.mall.activity.coupons.entity.ActivityCollectArea">
    		<result property="id" column="activityCollectAreaId" />
			<result property="collectCouponsId" column="collect_coupons_id" />
			<result property="areaId" column="area_id" />
			<result property="type" column="activityCollectAreaType" />
    	</collection>
    </resultMap>
    
    <!-- tuzhd 修改消费返券 20170626 -->
    <resultMap id="collectCouponsLinkMap" type="com.okdeer.mall.activity.coupons.entity.ActivityCollectCouponsOrderVo" extends="ActivityCollectCoupons">
    	<id property="relationId" column="relationId" jdbcType="VARCHAR"/>
    	<result property="couponsIds" column="coupons_ids" jdbcType="VARCHAR"/>
    </resultMap>
    
    <resultMap type="com.okdeer.mall.activity.coupons.entity.ActivityCollectCouponsSimpleVo" id="activityCouponsSimpleVo">
    	<id property="activityId" column="id" jdbcType="VARCHAR"/>
    	<result property="startUrl" column="h5_url" jdbcType="VARCHAR"/>
    </resultMap>
    
    <!-- end：查询代金券活动以及关联地区列表 add by wushp -->
    
    <sql id="columns">
		id,name,type,status,belong_type,limit_client_type,start_time,end_time,description,identity_limit,area_type,total_cost,approval_status,approval_reason,approval_time,approval_user_id,create_time,create_user_id,update_time,update_user_id,disabled,daily_circulation,h5_url,limit_amount,get_user_type
	</sql>
	<sql id="columnsExt">
		collectCoupons.id,name,collectCoupons.type,status,belong_type,limit_client_type,start_time,end_time,description,identity_limit,area_type,total_cost,approval_status,approval_reason,approval_time,approval_user_id,create_time,create_user_id,update_time,update_user_id,disabled,daily_circulation
	</sql>
	<sql id="activityCollectAreaColumns">
		area.id AS activityCollectAreaId,area.collect_coupons_id,area.area_id,area.type AS activityCollectAreaType
	</sql>
	
	<sql id="activityCoupons">
        coupons.id AS couponsId, coupons.name AS couponsName, coupons.activity_id, coupons.belong_type, coupons.face_value, coupons.total_num, 
        coupons.used_num, coupons.remain_num, coupons.arrive_limit, coupons.valid_day, coupons.every_limit,
	    coupons.is_cash_delivery, coupons.is_category_limit, coupons.code, coupons.exchange_code, coupons.area_type, 
	    coupons.create_user_id, coupons.create_time, coupons.update_user_id, coupons.update_time, coupons.disabled,
	    coupons.type, coupons.is_category
    </sql>
    
    <select id="list" parameterType="map" resultMap="ActivityCollectCoupons">
		select <include refid="columns"/> from activity_collect_coupons where disabled = 0 
		<if test="belongType != null and belongType != ''">
<!-- 			0是运营商,可以看到所有人的,  大于0,是代理商,只能看到自己的 -->
			<if test="belongType != '0'.toString() ">
				and belong_type = #{belongType}
			</if>
			
			<!-- 代理商未审核已关闭的数据 运营商无法看到 -->
			<if test="belongType == '0'.toString() ">
				and id not in(
					select a.id from activity_collect_coupons a
					where a.`status` = 4
					and a.approval_status = 0 
					and a.belong_type != '0'
				)
			</if>
		</if>
		<if test="name != null and name != ''">
			and name like concat('%',#{name},'%' )
		</if>
		<if test="createStartTime != null and createStartTime != ''">
			and create_time &gt;= #{createStartTime}
		</if>
		<if test="createEndTime != null and createEndTime != ''">
			and create_time &lt;= #{createEndTime}
		</if>
		
		
		<if test="activityStartStartTime != null and activityStartStartTime != ''">
			and start_time &gt;= #{activityStartStartTime}
		</if>
		<if test="activityStartEndTime != null and activityStartEndTime != ''">
			and start_time &lt;= #{activityStartEndTime}
		</if>
		
		<if test="activityEndStartTime != null and activityEndStartTime != ''">
			and end_time &gt;= #{activityEndStartTime}
		</if>
		<if test="activityEndEndTime != null and activityEndEndTime != ''">
			and end_time &lt;= #{activityEndEndTime}
		</if>
		
		<if test="type != null and type != ''">
			and type = #{type}
		</if>
		<if test="approvalStatus != null and approvalStatus != ''">
			and approval_status = #{approvalStatus}
		</if>
		<if test="status != null and status != ''">
			and status = #{status}
		</if>
		<if test="statusValid != null and statusValid != ''">
			and (status = 0 or status = 1 )
		</if>
		order by create_time desc
	</select>

    <insert id="save" parameterType="com.okdeer.mall.activity.coupons.entity.ActivityCollectCoupons" useGeneratedKeys="true" keyProperty="id">
        insert into activity_collect_coupons(
			<include refid="columns"/>
		)values(
            #{id},
            #{name},
            #{type},
            #{status},
            #{belongType},
            #{limitClientType},
            #{startTime},
            #{endTime},
            #{description},
            #{identityLimit},
            #{areaType},
            #{totalCost},
            #{approvalStatus},
            #{approvalReason},
            #{approvalTime},
            #{approvalUserId},
            #{createTime},
            #{createUserId},
            #{updateTime},
            #{updateUserId},
            #{disabled},
            #{dailyCirculation},
            #{h5Url},
            #{limitAmount},
            #{getUserType, jdbcType=TINYINT}
        )
	</insert>

    <update id="updateDynamic" parameterType="com.okdeer.mall.activity.coupons.entity.ActivityCollectCoupons">
        update activity_collect_coupons set
			<if test="name != null">
				name = #{name},
			</if>
			<if test="type != null">
				type = #{type},
			</if>
			<if test="status != null">
				status = #{status},
			</if>
			<if test="belongType != null">
				belong_type = #{belongType},
			</if>
			<if test="limitClientType != null">
				limit_client_type = #{limitClientType},
			</if>
			<if test="startTime != null">
				start_time = #{startTime},
			</if>
			<if test="endTime != null">
				end_time = #{endTime},
			</if>
			<if test="description != null">
				description = #{description},
			</if>
			<if test="identityLimit != null">
				identity_limit = #{identityLimit},
			</if>
			<if test="areaType != null">
				area_type = #{areaType},
			</if>
			<if test="totalCost != null">
				total_cost = #{totalCost},
			</if>
			<if test="approvalStatus != null">
				approval_status = #{approvalStatus},
			</if>
			<if test="approvalReason != null">
				approval_reason = #{approvalReason},
			</if>
			<if test="approvalTime != null">
				approval_time = #{approvalTime},
			</if>
			<if test="approvalUserId != null">
				approval_user_id = #{approvalUserId},
			</if>
			<if test="createTime != null">
				create_time = #{createTime},
			</if>
			<if test="createUserId != null">
				create_user_id = #{createUserId},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime},
			</if>
			<if test="updateUserId != null">
				update_user_id = #{updateUserId},
			</if>
			<if test="disabled != null">
				disabled = #{disabled},
			</if>
			<if test="dailyCirculation != null">
				daily_circulation = #{dailyCirculation},
			</if>
			<if test="h5Url != null">
				h5_url = #{h5Url},
			</if>
			<if test="limitAmount != null">
				limit_amount = #{limitAmount},
			</if>
			<if test="getUserType != null">
				get_user_type = #{getUserType, jdbcType=TINYINT},
			</if>
        id = #{id}
        where id = #{id}
    </update>

    <select id="get" resultMap="ActivityCollectCoupons" parameterType="string">
        select <include refid="columns"/> from activity_collect_coupons where id = #{value} and disabled = 0 
    </select>

    <delete id="delete" parameterType="string">
        delete from activity_collect_coupons where id = #{value} 
    </delete>
    
     <update id="updateBatchStatus" parameterType="map">
    	update activity_collect_coupons set status = #{status} where id in 
		<foreach item="item" index="index" collection="ids" open="(" separator="," close=")">  
  			#{item}  
 		</foreach>  
<!--  		未开始或者进行中的才关闭,其他状态的不管 -->
 		and (status = 0 or status = 1)
    </update>

	<select id="listByJob" parameterType="map" resultMap="ActivityCollectCoupons">
		select s.* from activity_collect_coupons s where 
		(s.`status` = 0 and  s.start_time &lt;= NOW())
		OR
		(s.`status` = 1 and  s.end_time &lt;= NOW())
	</select>   
	<!-- wusw:根据店铺id、活动状态、客户端限制类型等，获取代金券领券活动及代金券信息 -->
	<select id="selectByStoreAndLimitType" resultMap="couponsAndLimitCategoryDetailMap" parameterType="map">
		SELECT collect.id,collect.`name`,collect.identity_limit,collect.create_time,collect.start_time,collect.end_time,
              coupons.id AS couponsId,coupons.`name` AS couponsName,coupons.face_value,coupons.arrive_limit,coupons.activity_id,coupons.remain_num,
              coupons.valid_day,coupons.every_limit,coupons.is_cash_delivery,coupons.is_category_limit,coupons.valid_day,coupons.total_num,
              coupons.type AS coupons_type,coupons.is_category AS is_category, coupons.area_type as coupons_area_type, coupons.id as couponsId,
              coupons.description AS description,coupons.start_time AS start_time_coupons,coupons.end_time AS end_time_coupons,
		CASE
		WHEN coupons.type = 1 THEN nav.name
		WHEN coupons.type = 2 THEN spu.name
		ELSE '' END as category_name
		FROM activity_collect_coupons collect
		LEFT JOIN activity_collect_area area ON area.collect_coupons_id = collect.id
		LEFT JOIN activity_coupons coupons ON coupons.activity_id = collect.id
		LEFT JOIN activity_coupons_category category ON category.coupon_id = coupons.id	
		LEFT JOIN goods_navigate_category nav ON nav.id = category.category_id
		LEFT JOIN goods_spu_category spu ON spu.id = category.category_id
		WHERE collect.disabled = 0 AND ( collect.belong_type = '0' or collect.approval_status = 1 )
		AND coupons.is_rand_code = 0
		<if test="exchangeCode != null and exchangeCode != ''">
		  AND coupons.exchange_code = #{exchangeCode,jdbcType=VARCHAR}
		</if>
		<if test="exchangeCode == null or exchangeCode == ''">
		  AND (coupons.exchange_code is null or coupons.exchange_code = '')
		</if>
		<if test="type != null">
		 AND collect.type = #{type,jdbcType=TINYINT}
		</if>
		<if test="status != null">
		 AND collect.`status` = #{status,jdbcType=TINYINT}
		</if>
		<!-- <if test="limitClientType != null">
	      AND collect.limit_client_type IN
	      <foreach collection="limitClientType" open="(" close=")" index="index" item="item"  separator=",">
	             #{item,jdbcType=TINYINT}
	      </foreach>
	    </if> -->
	    <if test="storeId != null and storeId != ''">
	    AND (collect.area_type =  #{nationalAreaType,jdbcType=TINYINT}
	        OR (collect.area_type = #{districtAreaType,jdbcType=TINYINT}
	           AND ((area.type = 1 AND area.area_id = (SELECT province_id FROM store_info WHERE id = #{storeId,jdbcType=VARCHAR}))
	               OR (area.type = 0 AND area.area_id = (SELECT city_id FROM store_info WHERE id = #{storeId,jdbcType=VARCHAR}))
	               )
	           )
	        )
	    </if>
	    <if test="provinceId != null and provinceId != ''">
	    AND (collect.area_type =  #{nationalAreaType,jdbcType=TINYINT}
	        OR (collect.area_type = #{districtAreaType,jdbcType=TINYINT}
	           AND ((area.type = 1 AND area.area_id = #{provinceId,jdbcType=VARCHAR})
	           
	               OR (area.type = 0 AND area.area_id = #{cityId,jdbcType=VARCHAR})
	               )
	           )
	        )
	    </if>
	    ORDER BY collect.start_time DESC,coupons.face_value	DESC	
	</select>
	
	<!-- wusw:根据店铺id、活动状态、客户端限制类型等，统计代金券领券活动及代金券数量 -->
	<select id="selectCountByStoreAndLimitType" resultType="int" parameterType="map">
	   SELECT COUNT(1)
		FROM activity_collect_coupons collect
		LEFT JOIN activity_collect_area area ON area.collect_coupons_id = collect.id
		LEFT JOIN activity_coupons coupons ON coupons.activity_id = collect.id		
		WHERE collect.disabled = 0 AND ( collect.belong_type = '0' or collect.approval_status = 1 )
		<if test="exchangeCode != null and exchangeCode != ''">
		  AND coupons.exchange_code = #{exchangeCode,jdbcType=VARCHAR}
		</if>
		<if test="exchangeCode == null or exchangeCode == ''">
		  AND (coupons.exchange_code is null or coupons.exchange_code = '')
		</if>
		<if test="type != null">
		 AND collect.type = #{type,jdbcType=TINYINT}
		</if>
		<if test="status != null">
		 AND collect.`status` = #{status,jdbcType=TINYINT}
		</if>
		<!-- <if test="limitClientType != null">
	      AND collect.limit_client_type IN
	      <foreach collection="limitClientType" open="(" close=")" index="index" item="item"  separator=",">
	             #{item,jdbcType=TINYINT}
	      </foreach>
	    </if> -->
	    <if test="storeId != null and storeId != ''">
	    AND (collect.area_type =  #{nationalAreaType,jdbcType=TINYINT}
	        OR (collect.area_type = #{districtAreaType,jdbcType=TINYINT}
	           AND ((area.type = 1 AND area.area_id = (SELECT province_id FROM store_info WHERE id = #{storeId,jdbcType=VARCHAR}))
	               OR (area.type = 0 AND area.area_id = (SELECT city_id FROM store_info WHERE id = #{storeId,jdbcType=VARCHAR}))
	               )
	           )
	        )
	    </if>
	    <if test="provinceId != null and provinceId != ''">
	    AND (collect.area_type =  #{nationalAreaType,jdbcType=TINYINT}
	        OR (collect.area_type = #{districtAreaType,jdbcType=TINYINT}
	           AND ((area.type = 1 AND area.area_id = #{provinceId,jdbcType=VARCHAR})
	               OR (area.type = 0 AND area.area_id = #{cityId,jdbcType=VARCHAR})
	               )
	           )
	        )
	    </if>		
	</select>
	
	
<!-- 	用于判断某个时间段内活动是否冲突 -->
	<select id="countTimeQuantum"  parameterType="map" resultType="int">
	    SELECT count(0) FROM activity_collect_coupons c
		LEFT JOIN activity_collect_area area ON c.id = area.collect_coupons_id
		LEFT JOIN activity_collect_store acs ON c.id = acs.collect_coupons_id
		LEFT JOIN store_info store ON store.id = acs.store_id
	     where c.disabled = 0 
	    
<!-- 	    未开始或者进行中 -->
	    and (c.status = 1 or c.status = 0)
		AND 
		(
			#{startTime} BETWEEN c.start_time and c.end_time 
      		OR 
      		#{endTime} BETWEEN c.start_time and c.end_time 
      		OR 
     		(c.start_time &gt;= #{startTime} and c.end_time &lt;= #{endTime})
    	)
<!-- 	    如果是修改,就忽略自己本身这条记录 -->
	    <if test="id != null and id != ''">
	    	and c.id != #{id}
	    </if>
	    <if test="type != null and type != ''">
	    	and c.type = #{type}
	    </if>
	    <if test="orderTypeList != null">
	    	and c.id in (
				select ot.collect_coupons_id from activity_collect_order_type ot where ot.collect_coupons_id = c.id
				AND ot.order_type in  
				<foreach collection="orderTypeList" open="(" close=")" index="index" item="item"  separator=",">
					#{item}
				</foreach>
			)
		</if>
		<!-- 1是选择了地区 3是选择了店铺 -->
		<if test="areaType == 1">
			<if test="associateIdList != null">
			AND
			(
				 area.area_id in  
				<foreach collection="associateIdList" open="(" close=")" index="index" item="item"  separator=",">
					#{item}
				</foreach>
				or
				store.city_id in  
				<foreach collection="associateIdList" open="(" close=")" index="index" item="item"  separator=",">
					#{item}
				</foreach>
			)
			</if>
		</if>
		<if test="areaType == 3">
			<if test="associateIdList != null">
			AND
			(
				 area.area_id in  
				<foreach collection="associateIdList" open="(" close=")" index="index" item="item"  separator=",">
					#{item}
				</foreach>
				or
				acs.store_id in 
				<foreach collection="storeIdList" open="(" close=")" index="index" item="item"  separator=",">
					#{item}
				</foreach>
			)
			</if>
		</if>
    </select>
    
    <!--     通过活动id查询该活动一共有多少被使用的代金券的总额 -->
    <select id="selectTotalFaceValueByCollectId" parameterType="string" resultType="java.math.BigDecimal">
		select 
	 	-- r.*,ac.face_value
		IFNULL(sum(ac.face_value),0.00) as total
		from activity_coupons_record r 
		left JOIN activity_coupons ac on (ac.id = r.coupons_id)
		where r.coupons_collect_id = #{value}
		and (status = 0 or status = 1)
	</select>
	
	<select id="selectActivityCononsOwner" parameterType="string" resultType="string">
	
	
	
	</select>
	
	<!--    已经失效的所有代金卷   addBy zlq-->
	<select id="selectByCollectStatus" resultMap="couponsAndLimitCategoryDetailMap" parameterType="map">
	  SELECT A.id, A.refund_type, B.belong_type as type, B.face_value, B.create_user_id, B.remain_num, B.total_num, B.id as couponsId 
	  FROM activity_collect_coupons A 
      LEFT JOIN activity_coupons B 
      ON A.id = B.activity_id
      WHERE A.refund_type = #{refundType} 
      AND B.belong_type != 0
      AND ( (A.status = #{disabled}) or (A.status = #{closed} and B.remain_num &gt; 0) or (A.status = #{end} and B.remain_num &gt; 0))
	</select>
	
	<!--    已经关闭和已经结束 的活动 所关联的代金卷 zlq-->
	<select id="selectByUnusedOrExpires" resultMap="couponsRecordMap" parameterType="map">
	  SELECT A.id, A.refund_type, B.belong_type as type , B.face_value, B.create_user_id, C.valid_time, C.coupons_collect_id 
	  FROM activity_collect_coupons A 
      LEFT JOIN activity_coupons B 
      ON A.id = B.activity_id
      LEFT JOIN activity_coupons_record C
      ON C.coupons_id = B.id
      WHERE B.belong_type != 0
      AND A.refund_type = #{refundType}
      AND ((A.status = #{closed}) or (A.status = #{end}))
      AND C.status != 1
      ORDER BY C.valid_time DESC
	</select>
	
	
	<update id="updateRefundType" parameterType="java.util.List">
	 UPDATE activity_collect_coupons
	 SET refund_type = 1
	 WHERE
	 id IN 
	 <foreach collection="list" item="item" separator="," open="(" close=")" >
		#{item.id,jdbcType=VARCHAR}
	 </foreach>
	</update>
	
	<update id="updateRefundTypeByVo" parameterType="string">
	 UPDATE activity_collect_coupons
	 SET refund_type = 2
	 WHERE
	 id = #{id,jdbcType=VARCHAR}
	</update>
	
	<select id="">
	  SELECT * FROM ativity_collect_coupons acc LEFT JOIN activity_coupons ac ON acc.id=ac.activity_id WHERE acc.id=#{id,jdbcType=VARCHAR}
	</select>

	<!-- begin：查询代金券活动以及关联地区列表 add by wushp -->
	<select id="findCollectCouponsAreaList" parameterType="java.util.Map" resultType="int">
		SELECT count(0) FROM activity_collect_coupons collectCoupons
		LEFT JOIN activity_collect_area area ON collectCoupons.id = area.collect_coupons_id
		LEFT JOIN activity_collect_community comm ON collectCoupons.id = comm.collect_coupons_id
		LEFT JOIN psms_small_community_info psms ON psms.id = comm.community_id
		
		WHERE collectCoupons.disabled = 0
		<!-- 未开始或者进行中 -->
		AND (collectCoupons.status = 1 or collectCoupons.status = 0)
		AND
		(
		#{startTime} BETWEEN collectCoupons.start_time and collectCoupons.end_time
		OR
		#{endTime} BETWEEN collectCoupons.start_time and collectCoupons.end_time
		OR
		(collectCoupons.start_time &gt;= #{startTime} and collectCoupons.end_time &lt;= #{endTime})
		)
		<!-- 如果是修改,就忽略自己本身这条记录 -->
		<if test="id != null and id != ''">
			AND collectCoupons.id != #{id}
		</if>
		<if test="type != null">
			AND collectCoupons.type = #{type}
		</if>
		<!-- 1是选择了地区 2是选择了小区 -->
		<if test="areaType == 1">
			<if test="associateIdList != null">
			AND
			(
				 area.area_id in  
				<foreach collection="associateIdList" open="(" close=")" index="index" item="item"  separator=",">
					#{item}
				</foreach>
				or
				psms.city_id in  
				<foreach collection="associateIdList" open="(" close=")" index="index" item="item"  separator=",">
					#{item}
				</foreach>
			)
			</if>
		</if>
		<if test="areaType == 2">
			<if test="associateIdList != null">
			AND
			(
				 area.area_id in  
				<foreach collection="associateIdList" open="(" close=")" index="index" item="item"  separator=",">
					#{item}
				</foreach>
				or
				comm.community_id in 
				<foreach collection="communityIdList" open="(" close=")" index="index" item="item"  separator=",">
					#{item}
				</foreach>
			)
			</if>
		</if>
		
	</select>
	<!-- end：查询代金券活动以及关联地区列表 -->
	
	<!-- begin：查询代金券活动  add by tangy -->
	<select id="findActivityCollectCouponsByCity" resultMap="couponsAndLimitCategoryDetailMap" parameterType="string">
	    SELECT collect.id,collect.`name`,collect.identity_limit,collect.create_time,collect.start_time, collect.daily_circulation,
	           coupons.id AS couponsId,coupons.`name` AS couponsName,coupons.face_value,coupons.arrive_limit,coupons.activity_id,coupons.remain_num,
	           coupons.valid_day,coupons.every_limit,coupons.is_cash_delivery,coupons.is_category_limit,coupons.valid_day,coupons.total_num, coupons.type as coupons_type
	    FROM activity_collect_coupons collect 
	    LEFT JOIN activity_coupons coupons ON coupons.activity_id = collect.id
	    WHERE collect.disabled = 0 AND collect.type=2 AND ( collect.belong_type = '0' or collect.approval_status = 1 ) AND collect.status = 1 AND coupons.remain_num > 0
	    AND (collect.area_type = 0 OR (collect.area_type = 1 AND EXISTS(
	        SELECT 1 FROM activity_collect_area area WHERE area.collect_coupons_id = collect.id 
			    AND ((area.type = 1 AND area.area_id = #{provinceId}) OR (area.type = 0 AND area.area_id = #{cityId} ))
	    ))
	    <if test="communityId != null and communityId != ''">
	    	OR (collect.area_type = 2 AND EXISTS(
	        SELECT 1 FROM activity_collect_community community WHERE community.collect_coupons_id = collect.id 
			    AND community.community_id = #{communityId} )
			)
	    </if>
	    )
	    LIMIT 1
	</select>
	<!-- end：查询代金券活动 -->
	
	<select id="findCouponsByParams" resultType="com.okdeer.mall.activity.coupons.entity.ActivityCoupons" parameterType="string">
		select s.id,
		s.name,
		s.type,
		s.area_type as areaType,
		s.activity_id as activityId,
		s.belong_type as belongType,
		s.face_value as faceValue,
		s.total_num as totalNum,
		s.valid_day as validDay,
		s.arrive_limit as arriveLimit,
		s.every_limit as everyLimit,
		s.is_rand_code as isRandCode,
		s.exchange_code as exchangeCode
		 from activity_coupons s
		where s.disabled = 0 
		and 
		(
			 s.belong_type = #{belongType} 
			  and 
			(s.activity_id is null or s.activity_id = '')
			<if test="totalNumInfinite != null and totalNumInfinite != ''">
				and s.total_num = 0
			</if>
			<if test="exchangeCodeNull != null and exchangeCodeNull != ''">
				and (s.exchange_code is null or s.exchange_code = '')
			</if>
			
			<if test="everyLimitNull != null and everyLimitNull != ''">
				and (s.every_limit is null or s.every_limit = 0)
			</if>
			
			<if test="isRandCode != null and isRandCode != ''">
				and (s.is_rand_code = #{isRandCode})
			</if>
			<if test="areaType != null">
				and (s.area_type = #{areaType})
			</if>
		)
		<!-- 如果是修改调用接口,就加载之前该活动已经关联的代金券 -->
		<if test="activityId != null and activityId != ''">
			or s.activity_id = #{activityId}
		</if>
		order by s.face_value desc
	</select>
	
	<!-- add by wushp V1.1.0 消费返券：活动代金券查询 20160923-->
	<select id="findCollCouponsLinks" parameterType="map" resultMap="collectCouponsLinkMap">
		SELECT coll.id,coll.name,coll.type,coll.status,coll.belong_type,coll.limit_client_type,coll.start_time,
		coll.end_time,coll.description,coll.identity_limit,coll.area_type,coll.total_cost,coll.approval_status,
		coll.approval_reason,coll.approval_time,coll.approval_user_id,coll.create_time,coll.create_user_id,
		coll.update_time,coll.update_user_id,coll.disabled,coll.daily_circulation,coll.h5_url,
		xffq.limit_amount,xffq.id AS relationId,xffq.coupons_ids 
		FROM activity_collect_coupons coll 
		LEFT JOIN activity_collect_order_type collOrder ON coll.`id` = collOrder.`collect_coupons_id`
		LEFT JOIN activity_collect_area area1 ON coll.`id` = area1.`collect_coupons_id`
		<if test="storeId != null and storeId != ''"> 
		LEFT JOIN activity_collect_store store ON coll.id = store.collect_coupons_id
		</if>
		<!-- start tuzhd 2017-6-26 添加梯度返券 -->
		LEFT JOIN activity_collect_xffq_relation xffq ON xffq.collect_id = coll.id
		WHERE  1 = 1
		<![CDATA[ 
			AND (xffq.limit_amount is null OR xffq.limit_amount = 0 OR xffq.limit_amount <= #{limitAmout} )
		]]>
		<!-- end tuzhd 2017-6-26 添加梯度返券 -->
		AND coll.`status` = 1 
		AND coll.`disabled` = 0 
		AND coll.`type` = 4
		AND collOrder.`order_type` = #{orderType}   
		AND (coll.`area_type` = 0 OR (area1.type = 1 AND area1.`area_id`=#{provinceId}) OR 
		(area1.type = 0 AND area1.`area_id`=#{cityId}) <if test="storeId != null and storeId != ''">OR (coll.area_type = 3 AND store.store_id =#{storeId})</if>);
		
	</select>
	
	<!-- tuzhd 根据梯度查询代金券信息 2017-6-26 -->
	<select id="findCouponsByReleaID" resultMap="activityCouponsMap">
		SELECT 
			<include refid="activityCoupons" /> 
		FROM  activity_coupons coupons 
		WHERE  EXISTS 
				( SELECT 1 from activity_collect_xffq_relation xq 
				  WHERE  xq.id =#{relationId} AND LOCATE(coupons.id,xq.coupons_ids) > 0 )
	</select>
	
	<select id="findRecommendAcvititys" resultMap="activityCouponsSimpleVo">
		select id, h5_url from activity_collect_coupons
		where status=1 and type=3
		and disabled=0
	</select>
	
	<!-- 获取随机码的代金劵 2016-10-25 add by zhulq -->
	<select id="selectRandCodeVoucher" resultMap="couponsAndLimitCategoryDetailMap" parameterType="map">
		SELECT collect.id,collect.`name`,collect.identity_limit,collect.create_time,collect.start_time,collect.end_time,
              coupons.id AS couponsId,coupons.`name` AS couponsName,coupons.face_value,coupons.arrive_limit,coupons.activity_id,coupons.remain_num,
              coupons.valid_day,coupons.every_limit,coupons.is_cash_delivery,coupons.is_category_limit,coupons.valid_day,coupons.total_num,
              coupons.type AS coupons_type,coupons.is_category AS is_category, coupons.area_type as coupons_area_type, coupons.id as couponsId
		FROM activity_collect_coupons collect
		INNER JOIN activity_coupons coupons ON coupons.activity_id = collect.id
		INNER JOIN activity_coupons_rand_code code ON code.coupons_id = coupons.id
		WHERE collect.disabled = 0 AND ( collect.belong_type = '0' or collect.approval_status = 1 )
			AND coupons.is_rand_code = 1
			AND code.is_exchange = 0
		<if test="randCode != null and randCode != ''">
		    AND code.rand_code = #{randCode,jdbcType=VARCHAR}
		</if>
		<if test="status != null">
		 	AND collect.`status` = #{status,jdbcType=TINYINT}
		</if>
	  </select>
	  
	  <!-- 获取广告的代金卷 2016-10-25 add by zhulq -->
	<select id="selectAdvertVoucher" resultMap="couponsAndLimitCategoryDetailMap" parameterType="map">
		SELECT collect.id,collect.`name`,collect.identity_limit,collect.create_time,collect.start_time,collect.end_time,
              coupons.id AS couponsId,coupons.`name` AS couponsName,coupons.face_value,coupons.arrive_limit,coupons.activity_id,coupons.remain_num,
              coupons.valid_day,coupons.every_limit,coupons.is_cash_delivery,coupons.is_category_limit,coupons.valid_day,coupons.total_num,
              coupons.type AS coupons_type,coupons.is_category AS is_category, coupons.area_type as coupons_area_type, coupons.id as couponsId
		FROM activity_collect_coupons collect
		INNER JOIN activity_coupons coupons ON coupons.activity_id = collect.id
		WHERE collect.disabled = 0 AND ( collect.belong_type = '0' or collect.approval_status = 1 )
		<if test="status != null">
		 	AND collect.`status` = #{status,jdbcType=TINYINT}
		</if>
		<if test="type != null">
		 	AND collect.type = #{type,jdbcType=TINYINT}
		</if>
		<if test="collectId != null and collectId != ''">
		 	AND collect.id = #{collectId,jdbcType=TINYINT}
		</if>
	  </select>
	  
	  <!-- 根据代金券活动类型及店铺区域查询代金券活动信息 tuzhd 用于鹿掌柜代金券活动查询-->
	  <select id="findCollectCouponsByType" resultMap="ActivityCollectCoupons" parameterType="map">
		SELECT 
			coll.id,coll.name,coll.type,coll.status,coll.belong_type,coll.limit_client_type,
			coll.start_time,coll.end_time,coll.description,coll.identity_limit,coll.area_type,
			coll.total_cost,coll.approval_status,coll.approval_reason,coll.approval_time,
			coll.approval_user_id,coll.create_time,coll.create_user_id,coll.update_time,
			coll.update_user_id,coll.disabled,coll.daily_circulation,coll.h5_url,
			coll.limit_amount,coll.get_user_type
		FROM activity_collect_coupons coll 
		 	LEFT JOIN `activity_collect_area` `area` ON area.collect_coupons_id = coll.`id`
		 	LEFT JOIN `activity_collect_store` store ON store.`collect_coupons_id` = coll.`id`
		WHERE 1=1
			<if test="status != null">
			 	AND coll.`status`  = #{status,jdbcType=TINYINT}
			</if>
			<if test="type != null">
			 	AND coll.type = #{type,jdbcType=TINYINT}
			</if>
			<if test="storeId != null and storeId != '' ">
				AND (coll.`area_type` = 0 
					 OR (coll.`area_type`=1  AND 
							(
								(area.type = 1 AND area.area_id =  #{provinceId,jdbcType=VARCHAR})
								OR 
								(area.type = 0 AND area.area_id = #{cityId,jdbcType=VARCHAR})
							)
				   		 )
				 	 OR (coll.`area_type`= 3 AND  store.`store_id` = #{storeId,jdbcType=VARCHAR})
				 	)
		 	</if>
		 	ORDER BY coll.`create_time` DESC
	  </select>
	  
	  <!-- 判断广告代金卷是否已经被改用户领取 add by zhulq-->
	  <select id="selectCountByUserId" resultType="int" parameterType="map">
		SELECT count(1)
		FROM activity_collect_coupons collect
		INNER JOIN activity_coupons coupons ON coupons.activity_id = collect.id
		INNER JOIN activity_coupons_record r ON coupons.id = r.coupons_id
		WHERE collect.disabled = 0 AND ( collect.belong_type = '0' or collect.approval_status = 1 )
		<if test="status != null">
		 	AND collect.`status` = #{status,jdbcType=TINYINT}
		</if>
		<if test="type != null">
		 	AND collect.type = #{type,jdbcType=TINYINT}
		</if>
		<if test="userId != null and userId != '' ">
		 	AND r.collect_user_id = #{userId,jdbcType=VARCHAR}
		</if>
		<if test="collectId != null and collectId != '' ">
		 	AND collect.id = #{collectId,jdbcType=VARCHAR}
		</if>
	  </select>
	  <!-- begin xuzq 20170419 根据模块id和广告活动id查询优惠券 -->
	  <select id="findCollectCouponsByModelId" resultMap="ActivityCollectCoupons" parameterType="string">
		SELECT 
			collect.id,collect.name
		FROM activity_collect_coupons collect
		LEFT JOIN activity_advert_coupons cou ON collect.id=cou.collect_coupons_id
		where cou.activity_advert_id = #{activityAdvertId,jdbcType=VARCHAR} 
		and cou.model_id = #{modelId,jdbcType=VARCHAR}
	  </select>
	  <!-- begin xuzq 20170419 根据模块id和广告活动id查询优惠券 -->
	  
	  <!-- begin zengjz 2017-7-27 根据id列表查询 -->
	  <select id="findByIds" resultMap="ActivityCollectCoupons" parameterType="java.util.List">
	  	 SELECT * FROM  activity_collect_coupons WHERE  id IN
	  	 <foreach collection="idList" open="(" close=")" separator="," item="item">
	  	 	#{item}
	  	 </foreach>
	  </select>
</mapper>
