<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.okdeer.mall.activity.lowprice.mapper.ActivityLowPriceGoodsMapper" >
    <resultMap id="BaseResultMap" type="com.okdeer.mall.activity.lowprice.entity.ActivityLowPriceGoods" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="store_id" property="storeId" jdbcType="VARCHAR" />
        <result column="activity_low_price_id" property="activityLowPriceId" jdbcType="VARCHAR" />
        <result column="store_sku_id" property="storeSkuId" jdbcType="VARCHAR" />
        <result column="limit" property="limit" jdbcType="INTEGER" />
        <result column="stock" property="stock" jdbcType="INTEGER" />
        <result column="price" property="price" jdbcType="DECIMAL" />
        <result column="sort" property="sort" jdbcType="INTEGER" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="create_user_id" property="createUserId" jdbcType="VARCHAR" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, store_id, activity_low_price_id, store_sku_id, limit, stock, price, sort, status, 
        create_time, create_user_id, update_time, update_user_id
    </sql>

    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from activity_low_price_goods
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <insert id="add" parameterType="com.okdeer.mall.activity.lowprice.entity.ActivityLowPriceGoods" >
        insert into activity_low_price_goods
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="storeId != null" >
                store_id,
            </if>
            <if test="activityLowPriceId != null" >
                activity_low_price_id,
            </if>
            <if test="storeSkuId != null" >
                store_sku_id,
            </if>
            <if test="limit != null" >
                limit,
            </if>
            <if test="stock != null" >
                stock,
            </if>
            <if test="price != null" >
                price,
            </if>
            <if test="sort != null" >
                sort,
            </if>
            <if test="status != null" >
                status,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="createUserId != null" >
                create_user_id,
            </if>
            <if test="updateTime != null" >
                update_time,
            </if>
            <if test="updateUserId != null" >
                update_user_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="storeId != null" >
                #{storeId,jdbcType=VARCHAR},
            </if>
            <if test="activityLowPriceId != null" >
                #{activityLowPriceId,jdbcType=VARCHAR},
            </if>
            <if test="storeSkuId != null" >
                #{storeSkuId,jdbcType=VARCHAR},
            </if>
            <if test="limit != null" >
                #{limit,jdbcType=INTEGER},
            </if>
            <if test="stock != null" >
                #{stock,jdbcType=INTEGER},
            </if>
            <if test="price != null" >
                #{price,jdbcType=DECIMAL},
            </if>
            <if test="sort != null" >
                #{sort,jdbcType=INTEGER},
            </if>
            <if test="status != null" >
                #{status,jdbcType=BIT},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserId != null" >
                #{createUserId,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null" >
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserId != null" >
                #{updateUserId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.okdeer.mall.activity.lowprice.entity.ActivityLowPriceGoods" >
        update activity_low_price_goods
        <set >
            <if test="storeId != null" >
                store_id = #{storeId,jdbcType=VARCHAR},
            </if>
            <if test="activityLowPriceId != null" >
                activity_low_price_id = #{activityLowPriceId,jdbcType=VARCHAR},
            </if>
            <if test="storeSkuId != null" >
                store_sku_id = #{storeSkuId,jdbcType=VARCHAR},
            </if>
            <if test="limit != null" >
                limit = #{limit,jdbcType=INTEGER},
            </if>
            <if test="stock != null" >
                stock = #{stock,jdbcType=INTEGER},
            </if>
            <if test="price != null" >
                price = #{price,jdbcType=DECIMAL},
            </if>
            <if test="sort != null" >
                sort = #{sort,jdbcType=INTEGER},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=BIT},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserId != null" >
                create_user_id = #{createUserId,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null" >
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserId != null" >
                update_user_id = #{updateUserId,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <delete id="delete" parameterType="java.lang.String" >
        delete from activity_low_price_goods
        where id = #{id,jdbcType=VARCHAR}
    </delete>

</mapper>