<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.okdeer.mall.activity.lowprice.mapper.ActivityLowPriceMapper" >
    <resultMap id="BaseResultMap" type="com.okdeer.mall.activity.lowprice.entity.ActivityLowPrice" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="store_id" property="storeId" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="create_user_id" property="createUserId" jdbcType="VARCHAR" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, name, status, store_id, create_time, create_user_id, update_time, update_user_id
    </sql>

    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from activity_low_price
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <select id="findByStoreId" resultMap="BaseResultMap" >
        select 
        <include refid="Base_Column_List" />
        from activity_low_price
        where store_id = #{storeId,jdbcType=VARCHAR}
    </select>

    <insert id="add" parameterType="com.okdeer.mall.activity.lowprice.entity.ActivityLowPrice" >
        insert into activity_low_price
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="name != null" >
                name,
            </if>
            <if test="status != null" >
                status,
            </if>
            <if test="storeId != null" >
                store_id,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="createUserId != null" >
                create_user_id,
            </if>
            <if test="updateTime != null" >
                update_time,
            </if>
            <if test="updateUserId != null" >
                update_user_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                #{status,jdbcType=BIT},
            </if>
            <if test="storeId != null" >
                #{storeId,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserId != null" >
                #{createUserId,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null" >
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserId != null" >
                #{updateUserId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.okdeer.mall.activity.lowprice.entity.ActivityLowPrice" >
        update activity_low_price
        <set >
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=BIT},
            </if>
            <if test="storeId != null" >
                store_id = #{storeId,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserId != null" >
                create_user_id = #{createUserId,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null" >
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserId != null" >
                update_user_id = #{updateUserId,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <delete id="delete" parameterType="java.lang.String" >
        delete from activity_low_price
        where id = #{id,jdbcType=VARCHAR}
    </delete>

</mapper>