<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.okdeer.mall.activity.mapper.AppServiceGoodsRecommendGoodsMapper" >
    <resultMap id="BaseResultMap" type="com.okdeer.mall.activity.entity.AppServiceGoodsRecommendGoods" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="recommend_id" property="recommendId" jdbcType="VARCHAR" />
        <result column="goods_id" property="goodsId" jdbcType="VARCHAR" />
        <result column="sort" property="sort" jdbcType="INTEGER" />
        <result column="is_show" property="isShow" jdbcType="TINYINT" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, recommend_id, goods_id, sort, is_show
    </sql>

    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from activity_app_service_goods_recommend_goods
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <insert id="add" parameterType="com.okdeer.mall.activity.entity.AppServiceGoodsRecommendGoods" >
        insert into activity_app_service_goods_recommend_goods
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="recommendId != null" >
                recommend_id,
            </if>
            <if test="goodsId != null" >
                goods_id,
            </if>
            <if test="sort != null" >
                sort,
            </if>
            <if test="isShow != null" >
                is_show,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="recommendId != null" >
                #{recommendId,jdbcType=VARCHAR},
            </if>
            <if test="goodsId != null" >
                #{goodsId,jdbcType=VARCHAR},
            </if>
            <if test="sort != null" >
                #{sort,jdbcType=INTEGER},
            </if>
            <if test="isShow != null" >
                #{isShow,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.okdeer.mall.activity.entity.AppServiceGoodsRecommendGoods" >
        update activity_app_service_goods_recommend_goods
        <set >
            <if test="recommendId != null" >
                recommend_id = #{recommendId,jdbcType=VARCHAR},
            </if>
            <if test="goodsId != null" >
                goods_id = #{goodsId,jdbcType=VARCHAR},
            </if>
            <if test="sort != null" >
                sort = #{sort,jdbcType=INTEGER},
            </if>
            <if test="isShow != null" >
                is_show = #{isShow,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <delete id="delete" parameterType="java.lang.String" >
        delete from activity_app_service_goods_recommend_goods
        where id = #{id,jdbcType=VARCHAR}
    </delete>

</mapper>