<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.okdeer.mall.activity.mapper.HomeIconGoodsMapper" >
    <resultMap id="BaseResultMap" type="com.okdeer.mall.activity.entity.HomeIconGoods" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="icon_id" property="iconId" jdbcType="VARCHAR" />
        <result column="goods_id" property="goodsId" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, icon_id, goods_id
    </sql>

    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from activity_home_icon_goods
        where id = #{id,jdbcType=VARCHAR}
    </select>
    
    <select id="findListByHomeIcon" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from activity_home_icon_goods
        where icon_id = #{iconId}
    </select>

    <insert id="add" parameterType="com.okdeer.mall.activity.entity.HomeIconGoods" >
        insert into activity_home_icon_goods
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="iconId != null" >
                icon_id,
            </if>
            <if test="goodsId != null" >
                goods_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="iconId != null" >
                #{iconId,jdbcType=VARCHAR},
            </if>
            <if test="goodsId != null" >
                #{goodsId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
	
	<insert id="insertMore" parameterType="java.util.List">
		INSERT INTO activity_home_icon_goods (
			id, icon_id, goods_id
        ) VALUES
		<foreach collection="list" index="index" item="item" separator=",">
			(
				#{item.id}, #{item.iconId}, #{item.goodsId}
			)
		</foreach>
	</insert>

    <update id="update" parameterType="com.okdeer.mall.activity.entity.HomeIconGoods" >
        update activity_home_icon_goods
        <set >
            <if test="iconId != null" >
                icon_id = #{iconId,jdbcType=VARCHAR},
            </if>
            <if test="goodsId != null" >
                goods_id = #{goodsId,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <delete id="delete" parameterType="java.lang.String" >
        delete from activity_home_icon_goods
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    
    <delete id="deleteByHomeIconId" parameterType="java.lang.String" >
        delete from activity_home_icon_goods
        where  icon_id = #{iconId}
    </delete>

</mapper>