<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.okdeer.mall.activity.advert.mapper.ActivityAdvertModelMapper" >
    <resultMap id="BaseResultMap" type="com.okdeer.mall.activity.advert.entity.ActivityAdvertModel" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="activity_advert_id" property="activityAdvertId" jdbcType="VARCHAR" />
        <result column="model_no" property="modelNo" jdbcType="INTEGER" />
        <result column="model_type" property="modelType" jdbcType="TINYINT" javaType="com.okdeer.mall.activity.advert.enums.ModelTypeEnum"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="create_user_id" property="createUserId" jdbcType="VARCHAR" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, name, activity_advert_id,model_type, model_no, create_time, create_user_id, update_time, 
        update_user_id
    </sql>

    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from activity_advert_model
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <!-- 根据模块序号及活动id查询模块信息 -->
    <select id="findModelByIdNo" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from activity_advert_model
        where model_no = #{modelNo,jdbcType=INTEGER}
        AND activity_advert_id = #{activityAdvertId,jdbcType=VARCHAR}
    </select>
	<select id="findModelList" resultMap="BaseResultMap" parameterType="com.okdeer.mall.activity.advert.entity.ActivityAdvertModel" >
        select 
        <include refid="Base_Column_List" />
        from activity_advert_model
        where activity_advert_id = #{activityAdvertId,jdbcType=VARCHAR}
    </select>
    <insert id="add" parameterType="com.okdeer.mall.activity.advert.entity.ActivityAdvertModel" >
        insert into activity_advert_model
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="name != null" >
                name,
            </if>
            <if test="activityAdvertId != null" >
                activity_advert_id,
            </if>
            <if test="modelNo != null" >
                model_no,
            </if>
            <if test="modelType != null" >
                model_type,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="createUserId != null" >
                create_user_id,
            </if>
            <if test="updateTime != null" >
                update_time,
            </if>
            <if test="updateUserId != null" >
                update_user_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="activityAdvertId != null" >
                #{activityAdvertId,jdbcType=VARCHAR},
            </if>
            <if test="modelNo != null" >
                #{modelNo,jdbcType=INTEGER},
            </if>
            <if test="modelType != null" >
                 #{modelType,jdbcType=TINYINT},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserId != null" >
                #{createUserId,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null" >
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserId != null" >
                #{updateUserId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.okdeer.mall.activity.advert.entity.ActivityAdvertModel" >
        update activity_advert_model
        <set >
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="activityAdvertId != null" >
                activity_advert_id = #{activityAdvertId,jdbcType=VARCHAR},
            </if>
            <if test="modelNo != null" >
                model_no = #{modelNo,jdbcType=INTEGER},
            </if>
            <if test="modelType != null" >
                model_type = #{modelType,jdbcType=TINYINT},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserId != null" >
                create_user_id = #{createUserId,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null" >
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserId != null" >
                update_user_id = #{updateUserId,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <delete id="delete" parameterType="java.lang.String" >
        delete from activity_advert_model
        where id = #{id,jdbcType=VARCHAR}
    </delete>
 	<!-- 删除模板by活动id -->
    <delete id="deleteByActivityAdvertId" parameterType="java.lang.String" >
        delete from activity_advert_model
        where activity_advert_id = #{activityAdvertId,jdbcType=VARCHAR}
    </delete>
</mapper>