<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.okdeer.mall.activity.prize.mapper.ActivityAdvertDrawMapper" >
    <resultMap id="BaseResultMap" type="com.okdeer.mall.activity.prize.entity.ActivityAdvertDraw" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="luck_draw_id" property="luckDrawId" jdbcType="VARCHAR" />
        <result column="activity_advert_id" property="activityAdvertId" jdbcType="VARCHAR" />
        <result column="model_id" property="modelId" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, luck_draw_id, activity_advert_id, model_id
    </sql>

	<!-- 根据活动id及模板编号查询关联的抽奖活动 -->
    <select id="findAdvertDrawByIdNo" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        	<include refid="Base_Column_List" />
        from activity_advert_draw s
        	 inner join activity_advert_model m on s.model_id = m.id
        where m.model_no = #{modelNo,jdbcType=VARCHAR}
        	  AND m.activity_advert_id = #{activityAdvertId,jdbcType=VARCHAR}
    </select>
    
    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from activity_advert_draw
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <insert id="add" parameterType="com.okdeer.mall.activity.prize.entity.ActivityAdvertDraw" >
        insert into activity_advert_draw
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="luckDrawId != null" >
                luck_draw_id,
            </if>
            <if test="activityAdvertId != null" >
                activity_advert_id,
            </if>
            <if test="modelId != null" >
                model_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="luckDrawId != null" >
                #{luckDrawId,jdbcType=VARCHAR},
            </if>
            <if test="activityAdvertId != null" >
                #{activityAdvertId,jdbcType=VARCHAR},
            </if>
            <if test="modelId != null" >
                #{modelId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.okdeer.mall.activity.prize.entity.ActivityAdvertDraw" >
        update activity_advert_draw
        <set >
            <if test="luckDrawId != null" >
                luck_draw_id = #{luckDrawId,jdbcType=VARCHAR},
            </if>
            <if test="activityAdvertId != null" >
                activity_advert_id = #{activityAdvertId,jdbcType=VARCHAR},
            </if>
            <if test="modelId != null" >
                model_id = #{modelId,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <delete id="delete" parameterType="java.lang.String" >
        delete from activity_advert_draw
        where id = #{id,jdbcType=VARCHAR}
    </delete>

</mapper>