<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.okdeer.mall.activity.prize.mapper.ActivityPrizeRecordMapper" >
    <resultMap id="BaseResultMap" type="com.okdeer.mall.activity.prize.entity.ActivityPrizeRecord" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="prize_id" property="prizeId" jdbcType="VARCHAR" />
        <result column="user_id" property="userId" jdbcType="VARCHAR" />
        <result column="luck_draw_id" property="luckDrawId" jdbcType="VARCHAR" />
        <result column="activity_collect_id" property="activityCollectId" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="is_offer" property="isOffer" jdbcType="INTEGER" />
        <result column="prize_offer_time" property="prizeOfferTime" jdbcType="TIMESTAMP" />
        <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="disabled" property="disabled" jdbcType="VARCHAR" javaType="com.okdeer.base.common.enums.Disabled" />
    </resultMap>
	<resultMap id="prizeRecordList" type="com.okdeer.mall.activity.prize.entity.ActivityPrizeRecordVo" >
       <id column="id" property="id" jdbcType="VARCHAR" />
       <result column="prize_id" property="prizeId" jdbcType="VARCHAR" />
       <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
       <result column="login_name" property="loginName" jdbcType="VARCHAR" />
       <result column="luck_draw_id" property="luckDrawId" jdbcType="VARCHAR" />
       <result column="luck_draw_name" property="luckDrawName" jdbcType="VARCHAR" />
       <result column="activity_collect_id" property="activityCollectId" jdbcType="VARCHAR" />
       <result column="activity_collect_name" property="activityCollectName" jdbcType="VARCHAR" />
       <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
       <result column="is_offer" property="isOffer" jdbcType="INTEGER" />
       <result column="prize_name" property="prizeName" jdbcType="VARCHAR" />
       <result column="activity_name" property="activityName" jdbcType="VARCHAR" />
       <result column="activity_collect_name" property="activityCollectName" jdbcType="VARCHAR" />
       <result column="phone" property="phone" jdbcType="VARCHAR" />
       <result column="login_name" property="userName" jdbcType="VARCHAR" />
   </resultMap>
    <sql id="Base_Column_List" >
        id, prize_id, user_id,luck_draw_id,activity_collect_id,create_time, is_offer, prize_offer_time, update_user_id, update_time, 
        disabled
    </sql>
    <!-- 根据用户id及活动id查询该活动用户获得的奖品记录 -->
	<select id="findByUserId" resultMap="prizeRecordList" parameterType="java.lang.String" >
        select DISTINCT
        	r.id, r.prize_id,w.prize_name, r.user_id,r.luck_draw_id,r.activity_collect_id,
        	r.create_time,r.is_offer, r.prize_offer_time, r.update_user_id, r.update_time,
        	s.phone,s.login_name
        from activity_prize_record r 
        	 inner join activity_prize_weight w on r.`prize_id` = w.`id`
        	 inner join sys_buyer_user s on s.id = r.user_id
        	 inner join activity_advert_draw d on d.luck_draw_id = w.luck_draw_id
        where r.disabled=0  
        	  and r.user_id = #{userId,jdbcType=VARCHAR}
        	  and d.activity_advert_id =#{activityId,jdbcType=VARCHAR}
        order by r.create_time DESC
    </select> 
    <!-- 轮播显示最新的中奖记录 -->
    <select id="findPrizeRecord" resultMap="prizeRecordList" >
        select DISTINCT
        	r.id, r.prize_id,w.prize_name, r.user_id,r.luck_draw_id,r.activity_collect_id,
        	r.create_time,r.is_offer, r.prize_offer_time, r.update_user_id, r.update_time,
        	s.phone,s.login_name
        from activity_prize_record r 
        	 inner join activity_prize_weight w on r.`prize_id` = w.`id`
        	 inner join sys_buyer_user s on s.id = r.user_id
        	 inner join activity_advert_draw d on d.luck_draw_id = w.luck_draw_id
        where r.disabled=0  
        	  and d.activity_advert_id =#{activityAdvertId,jdbcType=VARCHAR}
        order by r.create_time DESC 
        limit 0,#{count,jdbcType=INTEGER}
    </select>
    <!-- 通过奖品id查询奖品中奖数量 -->
    <select id="findCountByPrizeId" resultType="java.lang.Integer" parameterType="java.lang.String" >
        select  count(1)
        from activity_draw_record
        where disabled=0 and prize_id = #{prize_id,jdbcType=VARCHAR} 
    </select>
    
    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from activity_prize_record
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <insert id="add" parameterType="com.okdeer.mall.activity.prize.entity.ActivityPrizeRecord" >
        insert into activity_prize_record
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="prizeId != null" >
                prize_id,
            </if>
            <if test="userId != null" >
                user_id,
            </if>
            <if test="luckDrawId != null" >
                luck_draw_id,
            </if>
            <if test="activityCollectId != null" >
                activity_collect_id,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="isOffer != null" >
                is_offer,
            </if>
            <if test="prizeOfferTime != null" >
                prize_offer_time,
            </if>
            <if test="updateUserId != null" >
                update_user_id,
            </if>
            <if test="updateTime != null" >
                update_time,
            </if>
            <if test="disabled != null" >
                disabled,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="prizeId != null" >
                #{prizeId,jdbcType=VARCHAR},
            </if>
            <if test="userId != null" >
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="luckDrawId != null" >
                #{luckDrawId,jdbcType=VARCHAR},
            </if>
            <if test="activityCollectId != null" >
                #{activityCollectId,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isOffer != null" >
                #{isOffer,jdbcType=INTEGER},
            </if>
            <if test="prizeOfferTime != null" >
                #{prizeOfferTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserId != null" >
                #{updateUserId,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null" >
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="disabled != null" >
                #{disabled,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.okdeer.mall.activity.prize.entity.ActivityPrizeRecord" >
        update activity_prize_record
        <set >
            <if test="isOffer != null" >
                is_offer = #{isOffer,jdbcType=INTEGER},
            </if>
            <if test="prizeOfferTime != null" >
                prize_offer_time = #{prizeOfferTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserId != null" >
                update_user_id = #{updateUserId,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null" >
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="disabled != null" >
                disabled = #{disabled,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <!-- 批量发放中奖信息 -->
    <update id="updateBathOffer" parameterType="map">
        update activity_prize_record
        <set >
            <if test="isOffer != null" >
                is_offer = #{isOffer,jdbcType=INTEGER},
            </if>
            <if test="prizeOfferTime != null" >
                prize_offer_time = #{prizeOfferTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserId != null" >
                update_user_id = #{updateUserId,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null" >
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id in 
		 <foreach collection="ids" open="(" close=")" index="index" item="item"  separator=",">
	        #{item}
	     </foreach>
    </update>

    <delete id="delete" parameterType="java.lang.String" >
        delete from activity_prize_record
        where id = #{id,jdbcType=VARCHAR}
    </delete>
	<!--begin xuzq 20170410 V2.2.0 中奖记录查询-->
	<select id="findPrizeRecordList" resultMap="prizeRecordList"  parameterType="com.okdeer.mall.activity.prize.entity.ActivityPrizeRecordVo">
        SELECT
        	record.id,
        	record.prize_id,
			record.activity_collect_id,
			coupon.`name` activity_collect_name,
			record.create_time,
			record.is_offer,
			record.prize_offer_time,
		    prize.prize_name,
		    us.nick_name,
		    us.login_name,
		    us.phone,
		    draw.`name` luck_draw_name,
		    activity.`name` activity_name
		FROM activity_prize_record record
		  LEFT JOIN sys_buyer_user us ON us.id = record.user_id
		  LEFT JOIN activity_prize_weight prize ON record.prize_id = prize.id
		  LEFT JOIN activity_luck_draw draw ON prize.luck_draw_id = draw.id
		  LEFT JOIN activity_advert activity ON draw.activity_advert_id = activity.id
		  LEFT JOIN activity_collect_coupons coupon ON record.activity_collect_id = coupon.id
        <where>
	        <if test="activityName != null and activityName != ''" >
	           AND activity.`name` LIKE CONCAT('%',#{activityName,jdbcType=VARCHAR},'%')
	        </if>
	        <if test="activityCollectName != null and activityCollectName != ''" >
	           AND coupon.`name` LIKE CONCAT('%',#{activityCollectName,jdbcType=VARCHAR},'%')
	        </if>
	        <if test="luckDrawName != null and luckDrawName !=''" >
	           AND draw.`name` LIKE CONCAT('%',#{luckDrawName,jdbcType=VARCHAR},'%')
	        </if>
	        <if test="prizeName != null and prizeName !=''" >
	           AND prize.prize_name LIKE CONCAT('%',#{prizeName,jdbcType=VARCHAR},'%')
	        </if>
	        <if test="nickName != null and nickName !=''" >
	           AND us.nick_name LIKE CONCAT('%',#{nickName,jdbcType=VARCHAR},'%')
	        </if>
	        <if test="loginName != null and loginName !=''" >
	           AND us.login_name LIKE CONCAT('%',#{loginName,jdbcType=VARCHAR},'%')
	        </if>
	        <if test="createTimeStart != null" >
	           AND record.create_time &gt;= #{createTimeStart,jdbcType=TIMESTAMP}
	        </if>
	        <if test="createTimeEnd != null" >
	           AND record.create_time &lt;= #{createTimeEnd,jdbcType=TIMESTAMP}
	        </if>
	        <if test="ids != null and ids !=''">
	        	record.id in
	           	<foreach collection="ids" open="(" close=")" index="index" item="item"  separator=",">
			        #{item}
			    </foreach>
	        </if>
        </where>
        order by record.create_time DESC 
    </select>
	<!--end xuzq 20170410 V2.2.0 中奖记录查询-->
</mapper>